<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      layout:decorate="~{layout/basic.html}">

<head>
  <title>Image Order Modify</title>
</head>

<div layout:fragment="content">

  <div class="row mt-3">
    <div class="col">
      <div class="card">
        <div class="card-header">
         이벤트 이미지 순서 수정
        </div>
        <div class="card-body">

          <div class="input-group mb-3">

            <input type="hidden" class="form-control notiId" th:data-src="${responseDTO.notiId}" >

            <span class="input-group-text">이벤트 이름</span>
            <label>
              <input type="text" name="name" class="form-control" th:value="${responseDTO.name}" readonly>
            </label>
          </div>

          <div class="input-group mb-3">
            <span class="input-group-text">이벤트 title</span>
            <label>
              <input type="text" name="title" class="form-control" th:value="${responseDTO.title}" readonly>
            </label>
          </div>

          <div class="input-group mb-3">
            <span class="input-group-text">이벤트 message</span>
            <label>
              <input type="text" name="message" class="form-control" th:value="${responseDTO.message}" readonly>
            </label>
          </div>


          <!--  첨부파일 섬네일을 보여줄 부분-->
          <div class="row mt-3">
            <div class="col">
              <div class="container-fluid d-flex uploadResult" style="flex-wrap:wrap;">

                <th:block th:each="fileName:${responseDTO.getListAllImage()}">
                  <div class="card col-3">
                    <div class="card-header d-flex">
                      (Id: [[${fileName.imageId}]]) &nbsp; [[${fileName.fileName}]]
                      <div>
                        order :
                        <input type="text" class="inputOrder" size="2" maxlength="2" th:data-src="${fileName.imageId}"
                               th:value="${fileName.imageOrder}">
                      </div>
                    </div>
                    <div class="card-body">
                      <img th:src="|/view/s_${fileName.uuid}_${fileName.fileName}|" th:data-src="|${fileName.uuid}_${fileName.fileName}|" >
                    </div>
                  </div>
                </th:block>
              </div>
            </div>
          </div>

          <div class="my-4">
            <div class="float-end">
              <a th:href="|@{/admin/eventRegister}|" class="text-decoration-none">
                <button type="button" class="btn btn-primary">List</button>
              </a>
              <button type="button" class="btn btn-secondary updateImageOrderBtn" th:data-num="${responseDTO.notiId}">수정 완료</button>
            </div>
          </div>

        </div><!-- <div class="card-body">-->

      </div>
    </div>
  </div>


  <!--    axios 라이브러리 추가-->
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="/js/upload.js"></script>
  <script src="/js/event.js"></script>
  <script src="/js/myInfo.js"></script>
  <script src="/js/util.js"></script>
  <script src="/js/utilViewHtml.js"></script>
  <script src="/js/utilEventHandler.js"></script>

</div> <!--<div layout:fragment="content">-->

<script layout:fragment="script" th:inline="javascript">

  // 에러 처리 부분 begin ----------------------------
  const errors = [[${errors}]]
  console.log('errors : ' + errors)

  let errorMsg = ''
  if (errors) {
    for (let i = 0; i < errors.length; i++) {
      errorMsg += `${errors[i].field}은 ${errors[i].code} \n`
    }

    // param ( 1: 바뀐 주소와 함께 저장할 객체, 2: 바꿀 제목, 3: 바꿀 주소 )
    // https://www.zerocho.com/category/HTML&DOM/post/599d2fb635814200189fe1a7
    history.replaceState({}, null, null)
    alert(errorMsg)
  }
  // 에러 처리 부분 end ----------------------------

  const uploadResult = document.querySelector(".uploadResult")

  // 최초 페이지 로딩
  pageInit()


  // 화면 재 갱신
  function resetlocation(notiId){
    self.location = '/admin/eventDetail/' + notiId
  }


</script>
</html>