<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      layout:decorate="~{layout/basic.html}">

<head>
  <title>Event Modify</title>
</head>

<div layout:fragment="content">

  <div class="row mt-3">
    <div class="col">
      <div class="card">
        <div class="card-header">
         이벤트 수정 페이지
        </div>
        <div class="card-body">

          <form action="/admin/eventModify" method="post" id="formEventModify">

            <div class="input-group mb-3">
              <span class="input-group-text">이벤트 이름</span>
              <label>
                <input type="text" name="name" class="form-control" th:value="${responseDTO.name}">
              </label>
            </div>

            <div class="input-group mb-3">
              <span class="input-group-text">이벤트 title</span>
              <label>
                <input type="text" name="title" class="form-control" th:value="${responseDTO.title}">
              </label>
            </div>

            <div class="input-group mb-3">
              <span class="input-group-text">이벤트 message</span>
              <label>
                <input type="text" name="message" class="form-control" th:value="${responseDTO.message}">
              </label>
            </div>

            <div class="input-group mb-3">
              <span class="input-group-text">이벤트 시작 날짜</span>
              <label>
                <input type="date" name="eventStartDate" class="form-control" th:value="${responseDTO.eventStartDate}">
              </label>
            </div>
            <div class="input-group mb-3">
              <span class="input-group-text">이벤트 종료 날짜</span>
              <label>
                <input type="date" name="eventEndDate" class="form-control" th:value="${responseDTO.eventEndDate}">
              </label>
            </div>

            <div class="input-group mb-3">
              <span class="input-group-text">이벤트 종류</span>
              <label>
                <select name="eventSelectType" id="eventTypeSelect">
                  <option th:each="i, stat: ${eventTypeList}" th:value="${i.getType()}"
                          th:selected="${responseDTO.eventSelectType == i.getName}">[[${i.getName}]]
                 </option>
                </select>
              </label>
            </div>

            <div class="input-group mb-3">
              <span class="input-group-text">이벤트 설정값</span>
              <label>
                <input type="text" name="eventValue" class="form-control" th:value="${responseDTO.eventValue}">
              </label>
            </div>

            <div class="input-group mb-3">
              <span class="input-group-text">이벤트 활성화</span>
              <label>
                <input type="radio" name="isUse" value="1" th:checked="${responseDTO.isUse eq true}" >활성화</input>
                <input type="radio" name="isUse" value="0" th:checked="${responseDTO.isUse eq false}" >비활성화</input>
              </label>
            </div>

            <div class="input-group mb-3">
              <span class="input-group-text">이벤트 팝업창</span>
              <label>
                <input type="radio" name="isPopup" value="1" th:checked="${responseDTO.isPopup eq true}" >활성화</input>
                <input type="radio" name="isPopup" value="0" th:checked="${responseDTO.isPopup eq false}" >비활성화</input>
              </label>
            </div>

            <!-- 첨부 파일 새로 등록-->
            <div class="input-group mb-3">
              <span class="input-group-text">Images</span>
              <div class="float-end uploadHidden">
                <button type="button" class="btn btn-primary uploadFileBtn">ADD Files</button>
              </div>
            </div>

            <!--  첨부파일 섬네일을 보여줄 부분-->
            <div class="row mt-3">
              <div class="col">
                <div class="container-fluid d-flex uploadResult" style="flex-wrap:wrap;">
                  <th:block th:each="fileName:${responseDTO.fileNames}">
                    <div class="card col-4">
                      <div class="card-header d-flex justify-content-center">
                        [[${fileName.fileName}]] &nbsp; (order: [[${fileName.imageOrder}]])
                        <button class="btn-sm btn-danger" th:onclick="removeFileData([[${fileName.uuid}]], [[${fileName.fileName}]], false, false, this)">X</button>
                      </div>
                      <div class="card-body">
                        <img th:src="|/view/s_${fileName.uuid}_${fileName.fileName}|" th:data-src="|${fileName.uuid}_${fileName.fileName}|" >
                      </div>
                    </div>
                  </th:block>
                </div>
              </div>
            </div>

            <div class="my-4">
              <div class="float-end">
                <a th:href="|@{/admin/eventRegister}|" class="text-decoration-none">
                  <button type="button" class="btn btn-secondary">List</button>
                </a>
                <button type="button" class="btn btn-primary saveBtn">수정 완료</button>
                <button type="button" class="btn btn-danger removeBtn">Remove</button>
              </div>
            </div>


          </form>
        </div><!-- <div class="card-body">-->

      </div>
    </div>
  </div>

  <!--첨부파일 추가를 위한 모달창-->
  <div class="modal uploadModal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Upload File</h5>
          <button type="button" class="btn-close closeUploadBtn" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="input-group mb-3">
            <input type="file" name="files" class="form-control" multiple>

          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary uploadBtn">Upload</button>
          <button type="button" class="btn btn-outline-dark closeUploadBtn">Close</button>
        </div>
      </div>
    </div>
  </div>  <!--  <div class="modal uploadModal" tabindex="-1">-->

  <!--    axios 라이브러리 추가-->
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="/js/upload.js"></script>
  <script src="/js/myInfo.js"></script>
  <script src="/js/util.js"></script>
  <script src="/js/utilViewHtml.js"></script>
  <script src="/js/utilEventHandler.js"></script>

</div> <!--<div layout:fragment="content">-->

<script layout:fragment="script" th:inline="javascript">

  const formEventModify = document.querySelector("#formEventModify")
  const uploadModal = new bootstrap.Modal(document.querySelector(".uploadModal"))
  const uploadResult = document.querySelector(".uploadResult")

  // 에러 처리 부분 begin ----------------------------
  const errors = [[${errors}]]
  console.log('errors : ' + errors)

  let errorMsg = ''
  if (errors) {
    for (let i = 0; i < errors.length; i++) {
      errorMsg += `${errors[i].field}은 ${errors[i].code} \n`
    }

    // param ( 1: 바뀐 주소와 함께 저장할 객체, 2: 바꿀 제목, 3: 바꿀 주소 )
    // https://www.zerocho.com/category/HTML&DOM/post/599d2fb635814200189fe1a7
    history.replaceState({}, null, null)
    alert(errorMsg)
  }
  // 에러 처리 부분 end ----------------------------

  const notiId = [[${responseDTO.notiId}]]

  //첨부 파일 삭제 임시 저장
  const removeFileList = []

  // 최초 페이지 로딩
  pageInit()

  // 모달창의 파일 업로드 처리
  document.querySelector(".uploadBtn").addEventListener("click", function(e){
    const formObj = new FormData();
    const fileInput = document.querySelector("input[name='files']")
    const files = fileInput.files

    for(let i = 0; i < files.length;i++){
      formObj.append("files", files[i]);
    }

    uploadToServer(formObj).then(result => {

      for(const uploadResult of result){
        showUploadFile(uploadResult, false)
      }

      uploadModal.hide()
    }).catch(e => {
      uploadModal.hide()
    })
  }, false)

  // Event 수정 요청
  document.querySelector(".saveBtn").addEventListener("click", function (e) {
    e.preventDefault()
    e.stopPropagation()

    // 첨부파일을  <input type='hidden..>으로 추가
    appendFileData()

    // 삭제대상 파일들을 삭제
    callRemoveFiles().then(result =>{
      if(result.length > 0){
        alert('remove files fail!!!')
      }
    })

    formEventModify.action = `/admin/eventModify/${notiId}`
    formEventModify.method = 'post'
    formEventModify.submit()

  }, false)

  // [이벤트] 삭제 요청
  document.querySelector(".removeBtn").addEventListener("click", function (e) {
    e.preventDefault()
    e.stopPropagation()

    // 화면에 보이는 파일들을 form태그에 추가
    appendFileData()

    // 화면에서 안 보이도록 처리된 파일들을 form 태그에 추가
    appendNotShownData()

    formEventModify.action = `/admin/notiDelete/event/${notiId}`
    formEventModify.method = 'post'
    formEventModify.submit()

  }, false)

</script>
</html>