<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic.html}">

<div layout:fragment="content">

    <div class="row mt-3">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title"> 차량 구매 상황</h5>
                </div>
                <div class="card-body">

                    <table class="table buyingCarList">
                        <thead>
                        <tr>
                            <th scope="col">차 번호</th>
                            <th scope="col">차 모델</th>
                            <th scope="col">구매 희망 가격</th>
                            <th scope="col">진행</th>
                            <th scope="col">상세</th>
                            <th scope="col">처리</th>

                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="dto:${listBuyingCarDTO}">
                            <th scope="row">[[${dto.carNumber}]]</th>
                            <td>[[${dto.carModel}]]</td>
                            <td>[[${dto.proposalPrice}]]</td>
                            <td>[[${dto.buyResult}]]</td>
                            <td>
                                <a th:href="|@{'/buyingCar/' + ${dto.carId}}|" class="text-decoration-none">조회</a>
                            </td>
                            <td>
                                <a th:onclick="javascript:sendCancelOffer([[${dto.carId}]])" style="cursor:pointer ">신청 취소</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                </div><!-- <div class="card-body">-->

            </div>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">주문 List</h5>
                </div>
                <div class="card-body">
                    <!-- HTML 테그의 속성이 아니라 HTML 콘텐츠 영역안에서 직접 데이터를 출력하고 싶으면 다음과 같이 [[...]] 를 사용하면 됩니다.-->
                    [[${pageRequestDto.size}]]

                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">상품 이름</th>
                            <th scope="col">주문 갯수</th>
                            <th scope="col">Item Price</th>
                            <th scope="col">배송 상태</th>
                        </tr>
                        </thead>
                        <tbody th:with="link = ${pageRequestDto.getLink()}">
                        <tr th:each="dto:${responseDTO.dtoList}">
                            <th scope="row">
                                <a th:href="|@{'/admin/shopItem/' + ${dto.shopItemId}}|"
                                   class="text-decoration-none"> [[${dto.itemName}]]</a>
                            </th>
                            <td>[[${dto.orderCount}]]</td>
                            <td>[[${dto.itemPrice}]]</td>
                            <td>[[${dto.deliveryStatus}]]</td>
                            <td><a th:if="${dto.deliveryStatus == '배송 준비중'}">
                                    <button type="button" class="btn btn-primary "
                                            th:onclick="cancelOrder([[${dto.orderItemId}]], this)">구매 취소</button>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                    <!-- 페이지 번호 출력-->
                    <div class="float-end">
                        <ul class="pagination flex-wrap">

                            <li class="page-item" th:if="${responseDTO.prev}">
                                <a class="page-link" th:data-num="${responseDTO.start - 1}">Previous</a>
                            </li>

                            <th:block th:each="i: ${#numbers.sequence(responseDTO.start, responseDTO.end)}">
                                <li th:class="${responseDTO.page == i} ? 'page-item active' : 'page-item' ">
                                    <a class="page-link" th:data-num="${i}">[[${i}]]</a>
                                </li>
                            </th:block>

                            <li class="page-item" th:if="${responseDTO.next}">
                                <a class="page-link" th:data-num="${responseDTO.end + 1}">Next</a>
                            </li>

                        </ul>
                    </div>
                    <!-- 페이지 번호 출력-->

                </div>
            </div>
        </div>
    </div>

    <div class="modal cancelModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title cartHeader"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="input-group mb-3">
                        <span class="input-group-text">상품 이름</span>
                        <input type="text" class="form-control cartIdText" readonly>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">구매 갯수</span>
                        <input type="text" class="form-control cartItemCount">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-info modifyBtn">Modify</button>
                    <button type="button" class="btn btn-danger removeBtn">Remove</button>
                    <button type="button" class="btn btn-outline-dark closeModifyBtn">Close</button>
                </div>

            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/js/order.js"></script>
</div>


<script layout:fragment="script" th:inline="javascript">
    console.log("cart List.html()~~~~")

    const cancelModal = new bootstrap.Modal(document.querySelector(".cancelModal"))


    function cancelOrder(orderItemId, object){

        if(!confirm("정말로 구매를 취소 하겠습니까?")){
            return
        }

        cancelOrderItem(orderItemId).then(result=>{
            alert('정상적으로 삭제 되었습니다.' + result.result)

            self.location = '/order/list' // 자바스크립트로 다른 url 호출

        }).catch(e=>{
            if (e.response && e.response.status === 400) {

                alert('잘못된 요청입니다.. 전달값 확인!!')
                console.log(e.response.data);
            } else {
                console.log(e.response.data);
                alert(e.response.data)
            }
        })

    }

    function sendCancelOffer(carId){
        console.log(carId)

        const formObj = {
            offerType:'cancel',
            carId:carId,
            requestPrice:0
        }

        cancelOffer(formObj).then(result=>{
            alert('정상적으로 삭제 되었습니다')

            self.location = '/order/list' // 자바스크립트로 다른 url 호출

        }).catch(e=>{
            if (e.response && e.response.status === 400) {

                alert('잘못된 요청입니다.. 전달값 확인!!')
                console.log(e.response.data);
            } else {
                console.log(e.response.data);
                alert(e.response.data)
            }
        })
    }

    // document.querySelector(".buyingCarList").addEventListener("click", function(e){
    //
    //     console.log("clearBtn.click()~~~~")
    //
    //     console.log('buyingCarList click~~~~~~~~')
    //     const target = e.target
    //
    //     if(!target || target.tagName !== 'SPAN'){
    //         return
    //     }
    //
    //     const cartId = target.getAttribute("data-cartId")
    //     const itemCount = target.getAttribute("data-itemCount")
    //
    //     if(!cartId || itemCount <= 0){
    //         return
    //     }
    //
    //     cartIdText.value = cartId
    //     cartItemCount.value = itemCount
    //
    //     cancelModal.show()
    // },false)

    // clear 버튼 클릭 이벤트 begin ------------------
    // document.querySelector(".clearBtn").addEventListener("click", function(e){
    //
    //     console.log("clearBtn.click()~~~~")
    //
    //     e.preventDefault()
    //     e.stopPropagation()
    //
    //     self.location = '/dashBoard/carList'
    // },false)
    // clear 버튼 클릭 이벤트 end ------------------

    // 페이지 버튼 클릭 이벤트 begin ------------------
    document.querySelector(".pagination").addEventListener("click", function(e){

        e.preventDefault()  // a태그 나 submit태그의 고유 동작을 중단
        e.stopPropagation() // 상위 엘리먼트들로의 이벤트 전파를 중단시킨다.

        const target = e.target   // a 태그
        if(target.tagName !== 'A'){
            return
        }

        const num = target.getAttribute("data-num")
        const formObj = document.querySelector("form")

        formObj.innerHTML += `<input type='hidden' name='page' value='${num}'>`
        formObj.submit();

    }, false)
    // 페이지 버튼 클릭 이벤트 begin ------------------


</script>
