<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic.html}">

<th:block layout:fragment="css">
    <style>
        /*.my_btn {*/
        /*    background-color: blue;*/
        /*    color: white;*/
        /*    border: none;*/
        /*    width: 70px;*/
        /*    height: 35px;*/
        /*    padding: 10px 30px;*/
        /*}*/
    </style>
</th:block>

<div layout:fragment="content">

    <div class="row mt-3">
        <div class="col">
            <div class="card">
                <div class="card-header">
                </div>
                <div class="card-body">
                    <h5 class="card-title">주문 결제</h5>
                    <input type="hidden" class="form-control selItemId" th:value="${responseDTO.shopItemId}">

                    <div class="input-group mb-3">
                        <span class="input-group-text">상품 이름</span>
                        <label>
                            <input type="text" name="selItemName" class="form-control" th:value="${responseDTO.itemName}">
                        </label>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">상품 가격</span>
                        <label>
                            <input type="text" class="form-control selItemPrice" th:value="${responseDTO.orderPrice}">
                        </label>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">상품 할인 가격</span>
                        <label>
                            <input type="text" class="form-control selDiscountPrice" th:value="${responseDTO.discountPrice}">
                        </label>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">주문 갯수</span>
                            <div class="upDownCount">
                                <span><i class="fas fa-arrow-alt-circle-down down"></i></span>
                                <input type="text" size="2" maxlength="4"
                                       class="selOrderCount" th:value="${responseDTO.orderCount}">
                                <span><i class="fas fa-arrow-alt-circle-up up"></i></span>
                            </div>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">옵션</span>
                        <input type="hidden" class="form-control selItemOptionIds" th:value="${responseDTO.getOptionIds()}" >
                            [[${responseDTO.getOptionDesc()}]]
                    </div>

<!--                    ////////////////////////////////////////////////////////////////////////-->
                    <div class="card mb-3" style="max-width: 1040px;">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <div class="card-body">

                                    <div class="input-group mb-3">
                                        <span class="input-group-text">배송지 정보</span>
                                    </div>

                                    <input type="hidden" id="userAddressBookId" class="form-control"
                                           th:value="${mainAddressInfo != null ? mainAddressInfo.userAddressBookId : 0}">

                                    <div class="input-group mb-3">
                                        <div class="h4 text-danger">
                                            <span id="deliveryName" th:text="${mainAddressInfo != null ? mainAddressInfo.deliveryName : ''}"></span>
                                            &nbsp;
                                            <button type="button" class="btn btn-success btn-sm"
                                             th:onclick="selectAddress()" >변경</button>
                                            <button type="button" class="btn btn-primary btn-sm"
                                                    th:onclick="showDeliveryAddress()">추가</button>
                                        </div>
                                    </div>

                                    <div id="recipientName" th:text="|${mainAddressInfo != null ? '(' + mainAddressInfo.recipientName + ') ' + mainAddressInfo.recipientPhoneNumber : ''}|"></div>
                                    <div id="fullAddress" th:text="|${mainAddressInfo != null ? mainAddressInfo.fullAddress : ''}|"></div>
                                </div><!-- <div class="card-body">-->

                                <div class="card-body">
                                    <div class="input-group mb-3">
                                        <span class="input-group-text">보유 포인트</span>
                                        <input type="text" class="form-control" id="totalMPoint" th:value="${mPoint > 0 ? #numbers.formatInteger(mPoint,3,'COMMA') : 0}" readonly>
                                    </div>
                                    <div class="input-group mb-3">
                                        <input type="number" class="form-control" id="useMPoint" th:value="0" th:placeholder="사용">
                                        <button type="button" class="btn btn-success btn-sm" th:onclick="useAllPoint()" >전액 사용</button>
                                    </div>
                                </div>

                            </div>

                            <div class="col-md-8">
                                <div class="card-body">

                                    <div class="my-4">
                                        <div class="float-end">
                                            <div class="input-group mb-3">
                                                <span class="input-group-text">상품 금액</span>
                                                <label>
                                                    <input type="text" class="form-control orderPrice"  readonly>
                                                </label>
                                            </div>
                                            <div class="input-group mb-3">
                                                <span class="input-group-text">배송비</span>
                                                <label>
                                                    <input type="text" class="form-control deliveryFee" readonly>
                                                </label>
                                            </div>
                                            <div class="input-group mb-3">
                                                <span class="input-group-text">상품 할인</span>
                                                <label>
                                                    <input type="text" class="form-control discountPrice" readonly>
                                                </label>
                                            </div>
                                            <div class="input-group mb-3">
                                                <span class="input-group-text">결제 예정 금액</span>
                                                <label>
                                                    <input type="text" class="form-control expectedPrice" readonly>
                                                </label>
                                            </div>

                                            <button type="button" class="btn btn-primary submitBtn">주문 하기</button>

                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
<!--                    //////////////////////////////////////////-->



                </div><!-- <div class="card-body">-->
            </div>
        </div>
    </div>

    <!-- 배송지 리스트 모달창-->
    <div class="modal addressListModal" tabindex="-1">
        <div class="modal-dialog" th:data-num="listCloseBtn">
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title">배송지 변경</h5>
                    <button type="button" class="btn-close closeModalBtn" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <div class="row mt-3">
                        <table>
                            <thead>
                            <tr>
                            </tr>
                            </thead>
                            <tbody id="tableAddressList">
                            </tbody>
                        </table>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary modalSelectBtn">선택</button>
                    <button type="button" class="btn btn-outline-dark closeModalBtn">Close</button>
                </div>
            </div>
        </div>
    </div> <!-- 배송지 리스트 모달창-->


    <!-- 주소록 등록을 위한 모달창-->
    <div class="modal addressRegisterModal" tabindex="-1">
        <div class="modal-dialog" th:data-num="registerCloseBtn">
            <div class="modal-content">

                <div class="modal-header">
                    <input type="hidden" class="form-control modalType">
                    <h5 class="modal-title modalTitle"></h5>
                    <button type="button" class="btn-close closeModalBtn" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <div class="input-group mb-3">
                        <span class="input-group-text">배송지명</span>
                        <input type="text" id="modalDeliveryName" th:value="회사2">
                    </div>

                    <div class="input-group mb-3">
                        <span class="input-group-text">받는 분</span>
                        <input type="text" id="modalRecipientName" th:value="홍길동">
                    </div>

                    <div class="input-group mb-3">
                        <span class="input-group-text">연락처</span>
                        <input type="tel" id="modalRecipientPhoneNumber" th:value="010-1223-9384">
                    </div>

                    <div class="input-group mb-3">
                        <span class="input-group-text">우편번호</span>
                        <input type="text" id="modalZipcode" th:value="|123-345|">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">국가</span>
                        <input type="text" id="modalCountry" size=40 maxlength=38 th:value="|대한민국|">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">도시명</span>
                        <input type="text" id="modalCityName" size=40 maxlength=38 th:value="|부천시|">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">주소</span>
                        <input type="text" id="modalStreet" size=40 maxlength=38 th:value="|수도로123번길44|">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">상세주소</span>
                        <input type="text" id="modalDetailAddress" size=40 maxlength=38 th:value="|101동405호|">
                    </div>

                    <div class="input-group mb-3">
                        <span class="input-group-text">배송 요청사항</span>
                        <input type="text" id="modalDeliveryRequest" size=40 maxlength=38 th:value="|배송 요청사항!!|">
                    </div>

                    <div class="input-group mb-3">
                        <input type="hidden" id="modalMainAddressCheck" class="form-control">
                        <!-- 체크 표시-->
                        <span id="checkSolid" style="display: inline">
                          <i class="fa-solid fa-circle-check"  style="cursor:pointer" th:onclick="javascript:checkMain(false)"></i>
                        </span>
                        <span id="checkRegular" style="display: none">
                          <i class="fa-regular fa-circle-check"  style="cursor:pointer" th:onclick="javascript:checkMain(true)"></i>
                        </span>
                        <span th:text="| 기본 배송지로 설정|"></span>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary sendAddressRegBtn">Register</button>
                    <button type="button" class="btn btn-outline-dark closeModalBtn">Close</button>
                </div>
            </div>
        </div>
    </div> <!-- 주소록 등록을 위한 모달창-->

    <!--    axios 라이브러리 추가-->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/js/cart.js"></script>
    <script src="/js/order.js"></script>
    <script src="/js/myInfo.js"></script>
    <script src="/js/util.js"></script>
    <script src="/js/utilViewHtml.js"></script>
    <script src="/js/utilEventHandler.js"></script>
</div>

<script layout:fragment="script" th:inline="javascript">

    const addressListModal = new bootstrap.Modal(document.querySelector(".addressListModal"))
    const addressRegisterModal = new bootstrap.Modal(document.querySelector(".addressRegisterModal"))

    const tableAddressList = document.getElementById("tableAddressList");

    const selItemPrice = document.querySelector(".selItemPrice")
    const selDiscountPrice = document.querySelector(".selDiscountPrice")
    const selOrderCount = document.querySelector(".selOrderCount")
    const selItemId = document.querySelector(".selItemId")
    const selItemOptionIds = document.querySelector(".selItemOptionIds")

    const orderPrice = document.querySelector(".orderPrice")
    const expectedPrice = document.querySelector(".expectedPrice")
    const discountPrice = document.querySelector(".discountPrice")
    const deliveryFee = document.querySelector(".deliveryFee")
    const deliveryName = document.querySelector("#deliveryName")
    const recipientName = document.querySelector("#recipientName")
    const fullAddress = document.querySelector("#fullAddress")
    const userAddressBookId = document.querySelector("#userAddressBookId")

    const modalDeliveryName = document.querySelector('#modalDeliveryName');
    const modalRecipientName = document.querySelector('#modalRecipientName');
    const modalRecipientPhoneNumber = document.querySelector('#modalRecipientPhoneNumber');
    const modalZipcode = document.querySelector('#modalZipcode');
    const modalCountry = document.querySelector('#modalCountry');
    const modalCityName = document.querySelector('#modalCityName');
    const modalStreet = document.querySelector('#modalStreet');
    const modalDetailAddress = document.querySelector('#modalDetailAddress');
    const modalDeliveryRequest = document.querySelector('#modalDeliveryRequest');
    const modalMainAddressCheck = document.querySelector('#modalMainAddressCheck');
    const modalTitle = document.querySelector('.modalTitle');
    const modalType = document.querySelector('.modalType');

    const currentUser = [[${#authentication.principal.username}]]

    // 최초 페이지 로딩
    pageInit()

    // 결제 금액 계산 호출
    reCalculation()


    // 상품 갯수 수동 변경
    document.querySelectorAll(".itemCount").forEach(function (item,idx){
        item.addEventListener('change', function(){

            const inputTag = document.querySelector('input[name=p_itemCount'+idx+']');
            const p_count = inputTag.value;

            if(p_count >= 0){
                inputTag.setAttribute('value', p_count )
                inputTag.value = p_count
            }
            else{
                inputTag.setAttribute('value', 0 )
                inputTag.value = 0
            }
            // 결제 금액 재 계산
            reCalculation()
        });
    }, false)

    // 주문 수량 갯수 변경 ( up, down button )
    document.querySelectorAll(".upDownCount").forEach(function (item,idx){
        // 갯수 차감
        item.children[0].addEventListener('click', function(){
            changeItemCount(idx, -1);
        });
        // 갯수 증가
        item.children[2].addEventListener('click', function(){
            changeItemCount(idx, 1);
        });

    }, false)

    // 주문 수량 변경
    function changeItemCount(idx, value){
        const changeCount = parseInt(selOrderCount.value) + value

        if( changeCount >= 0 ){
            selOrderCount.value = changeCount

            // 결제 금액 재 계산
            reCalculation()
        }
    }

    // [주문 하기]
    document.querySelector(".submitBtn").addEventListener("click", function(e){
        e.preventDefault()
        e.stopPropagation()

        const itemPriceTemp = selItemPrice.value.replaceAll(",","")
        const discountPriceTemp = selDiscountPrice.value.replaceAll(",","")
        const orderCountTemp = selOrderCount.value

        const totalPrice = itemPriceTemp * orderCountTemp;
        const totalDiscountPrice = discountPriceTemp * orderCountTemp;

        let totalPaymentPrice = 0
        // 총 결제 금액 = 제품별 구매 금액 + 배송비 - 사용 포인트
        totalPaymentPrice += (totalPrice - totalDiscountPrice)
        totalPaymentPrice += parseInt(deliveryFee.value.replaceAll(",",""))
        totalPaymentPrice -= parseInt(useMPoint.value.replaceAll(",",""))


        let arrayItemInfo = [];
        const itemInfo = {
            itemId: selItemId.value,
            itemCount: selOrderCount.value,
            itemPrice: selItemPrice.value,
            discountPrice: selDiscountPrice.value,
            itemOptionIds: selItemOptionIds.value,
        };
        arrayItemInfo.push(itemInfo);


        if(arrayItemInfo.length === 0){
            alert("상품을 선택하세요~!!!")
            return;
        }

        if(userAddressBookId.value === '0' ){
            alert("배송지를 입력하세요~!!!")
            return;
        }

        const formObj = {
            deliveryFee: deliveryFee.value.replaceAll(",",""),
            userAddressBookId: userAddressBookId.value,
            totalPrice: totalPrice,
            totalDiscountPrice: totalDiscountPrice,
            totalPaymentPrice: totalPaymentPrice,
            useMPoint : useMPoint.value.replaceAll(",",""),
            listOrderDetail: arrayItemInfo
        }

        ////////////////////////////////////////////////////
        addOrderItem(formObj).then(result => {
            alert("정상적으로 주문 되었습니다")

            // 주문 페이지 로 이동
            self.location = '/order/list'

        }).catch(e => {
            console.log(e)
        })
    }, false)

    // 결제 금액 다시 계산
    function reCalculation(){

        const itemPriceTemp = selItemPrice.value.replaceAll(",","")
        const discountPriceTemp = selDiscountPrice.value.replaceAll(",","")
        const orderCountTemp = selOrderCount.value

        const totalOriginalPrice = itemPriceTemp * orderCountTemp
        const totalDiscountPrice = discountPriceTemp * orderCountTemp
        const totalPrice = (itemPriceTemp - discountPriceTemp) * orderCountTemp

        // 배송비 계산
        const deliveryPrice = (totalPrice === 0 || totalPrice > 15000) ? 0 : 2500

        orderPrice.value = totalOriginalPrice.toLocaleString('ko-KR')
        deliveryFee.value = deliveryPrice.toLocaleString('ko-KR')
        discountPrice.value = totalDiscountPrice.toLocaleString('ko-KR')
        expectedPrice.value = (totalPrice + deliveryPrice - useMPoint.value.replaceAll(",","")).toLocaleString('ko-KR')

    }

    // [배송지 추가] 요청 처리
    document.querySelector(".sendAddressRegBtn").addEventListener("click", function(e){

        const formObj = {
            deliveryName:modalDeliveryName.value,
            recipientName:modalRecipientName.value,
            recipientPhoneNumber:modalRecipientPhoneNumber.value,
            zipcode:modalZipcode.value,
            country:modalCountry.value,
            cityName:modalCityName.value,
            street:modalStreet.value,
            detailAddress:modalDetailAddress.value,
            deliveryRequest:modalDeliveryRequest.value,
            mainAddressCheck:JSON.parse(modalMainAddressCheck.value),
            callType:'register'
        }

        sendDeliveryAddress(formObj).then(result => {

            addressRegisterModal.hide()

            if(result.result === 'fail'){
                alert(result.message)
                //initModalForm()
                return
            }
            // 배송지 선택 모달 창 오픈
            selectAddress()

        }).catch(e => {
            errorResponse(e)
            addressRegisterModal.hide()
        })
    }, false)

    // 전달된 주소록 정보 요청 [배송지 선택]
    function getAddressInfo(addressBookId) {
        const formObj = {
            userAddressBookId:addressBookId,
        }

        console.log('getAddressInfo()  : ' + addressBookId)
        getDeliveryAddress(formObj).then(result => {
            deliveryName.innerHTML = result.deliveryName
            recipientName.innerHTML = "(" + result.recipientName + ") " + result.recipientPhoneNumber
            fullAddress.innerHTML = result.fullAddress
            userAddressBookId.value = addressBookId

        }).catch(e => {
            errorResponse(e)
            updateModal.hide()
        })
    }

    // 모달 창 값 초기화
    function initModalData(obj){
        console.log('orderPage.html - initModalData()!!!!')

        const target = obj.target
        const dialog = target.closest(".modal-dialog")

        if(dialog.getAttribute("data-num") === 'registerCloseBtn'){
            addressRegisterModal.hide()
        }
        else if(dialog.getAttribute("data-num") === 'listCloseBtn'){
            addressListModal.hide()
        }
    }

</script>
