<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic.html}">

<head>
  <title>Car Detail Info</title>
</head>

<div layout:fragment="content">
  <div class="row mt-3">
    <div class="col">
      <div class="card">
        <div class="card-header">
          Car Detail Info
        </div>
        <div class="card-body">
          <!--            dto 값 출력 부분-->
          <div class="input-group mb-3">
            <span class="input-group-text">CarID</span>
            <input type="text" class="form-control" th:value="${responseDTO.carId}" readonly>
          </div>

          <div class="input-group mb-3">
            <span class="input-group-text">CarNumber</span>
            <input type="text" class="form-control" th:value="${responseDTO.carNumber}" readonly>
          </div>

          <div class="input-group mb-3">
            <span class="input-group-text">CarGrade</span>
            <input type="text" class="form-control" th:value="${responseDTO.carGrade}" readonly>
          </div>

          <div class="input-group mb-3">
            <span class="input-group-text">CarModel</span>
            <input type="text" class="form-control" th:value="${responseDTO.carModel}" readonly>
          </div>

          <div class="input-group mb-3">
            <span class="input-group-text">CarYears</span>
            <input type="text" class="form-control" th:value="${responseDTO.carYears}" name="carYears" readonly>
          </div>

          <div class="input-group mb-3">
            <span class="input-group-text">CarColors</span>
            <input type="text" class="form-control" th:value="${responseDTO.carColors}" name="carColors" readonly>
          </div>

          <div class="input-group mb-3">
            <span class="input-group-text">CarKm</span>
            <input type="text" class="form-control currCarKm" th:value="${responseDTO.carKm +' km'} " name="carKm" readonly>
          </div>

          <div class="input-group mb-3">
            <span class="input-group-text">누적 주행거리</span>
            <button type="button" class="btn btn-primary updateKmBtn">갱신</button>
          </div>



          <input type="hidden" name="sellingCarId" th:value="${responseDTO.sellingCarId}">

          <div class="my-4" th:with="user=${#authentication.principal}">
            <div class="float-end">

              <a th:href="|@{/history(carId=${responseDTO.carId}, userName=${#authentication.principal.username})}|" class="text-decoration-none">
                <button type="button" class="btn btn-primary">차량 기록</button>
              </a>

              <a th:href="|@{/statistics(carId=${responseDTO.carId}, userName=${#authentication.principal.username})}|" class="text-decoration-none">
                <button type="button" class="btn btn-primary">통계</button>
              </a>

              <a th:href="|@{/consumable/info(carId=${responseDTO.carId}, userName=${#authentication.principal.username})}|" class="text-decoration-none">
                <button type="button" class="btn btn-primary">소모품 관리</button>
              </a>

              <button type="button" class="btn btn-primary sellingCarRegBtn text-decoration-none"
                      th:classappend="${#strings.equals(responseDTO.sellingCarStatus, 'PROCESSING') ? 'invisible':''}" >
                    <span th:id="sellingCarReg">
                      차량 판매
                    </span>
              </button>

              <button type="button" class="btn btn-primary sellingCarShowBtn text-decoration-none"
                      th:classappend="${#strings.equals(responseDTO.sellingCarStatus, 'PROCESSING') == false ? 'invisible':''}" >
                    <span th:id="sellingCarShow">
                      판매 현황
                    </span>
              </button>

              <a th:href="|@{/myPage/carList(userName=${#authentication.principal.username})}|" class="text-decoration-none">
                <button type="button" class="btn btn-primary">List</button>
              </a>
              <a th:href="|@{/myPage/carModify(carId=${responseDTO.carId}, userName=${#authentication.principal.username} )}|" class="text-decoration-none">
                <button type="button" class="btn btn-secondary">Modify</button>
              </a>
            </div>
          </div>

        </div><!-- <div class="card-body">-->

        <div class="row mt-3">
          <div class="col">
            <div class="container-fluid d-flex uploadResult" style="flex-wrap:wrap;">
              <th:block th:each="fileName:${responseDTO.fileNames}">
                <div class="card col-4">
                  <div class="card-header d-flex justify-content-center">
                    [[${fileName.fileName}]]
                  </div>
                  <div class="card-body">
                    <img th:src="|/view/s_${fileName.uuid}_${fileName.fileName}|" th:data-src="${fileName.uuid}" >
                  </div>
                </div>
              </th:block>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>

  <!-- 내차 판매를 위한 모달창-->
  <div class="modal sellingCarModal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header">
          <h5 class="modal-title">차량 판매</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="input-group mb-3" th:with="user=${#authentication.principal}">
            <span class="input-group-text">소유자</span>
            <input type="text" class="form-control owner" th:value="${user.username}" readonly>
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text">희망 가격</span>
            <input type="text" class="form-control requiredPrice" th:value="1000000">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary registerBtn">판매 등록</button>
          <button type="button" class="btn btn-outline-dark closeSellingCarModalBtn">Close</button>
        </div>
      </div>
    </div>
  </div>  <!--    uploadModal-->

  <!--   판매 현황 모달창-->
  <div class="modal sellingCarShowModal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header">
          <h5 class="modal-title">판매 현황</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body modal-body-show">
          <div class="input-group mb-3">
            <span class="input-group-text">판매 최소가격</span>
            <input type="text" class="form-control requiredPrice" id="modalRequiredPrice">
          </div>

          <div class="input-group mb-3">
            <span class="input-group-text">판매 마감 시간</span>
            <input type="text" class="form-control requiredPrice" id="modalExpiredDate">
          </div>

          <div class="input-group mb-3" th:with="user=${#authentication.principal}">
            <span class="input-group-text">소유자</span>
            <input type="text" class="form-control owner" th:value="${user.username}" readonly>
          </div>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary currentSituationBtn">구매 희망 리스트</button>
            <button type="button" class="btn btn-danger sellingCancelBtn">판매 취소</button>
            <button type="button" class="btn btn-outline-dark closeShowModalBtn">Close</button>
        </div>
      </div>
    </div>
  </div>  <!--    sellingCarShowModal-->

  <!--   판매 취소 모달창-->
  <div class="modal sellingCancelModal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header">
          <h5 class="modal-title">판매 취소</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body modal-body-show">
          <div class="input-group mb-3">
            <input type="text" class="form-control cancelCarName" readonly>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger sendCancelBtn">취소</button>
          <button type="button" class="btn btn-outline-dark closeCancelModalBtn">닫기</button>
        </div>
      </div>
    </div>
  </div>  <!--    sellingCancelModal-->

  <!--   누적 주행거리 갱신 모달창-->
  <div class="modal updateKmModal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header">
          <h5 class="modal-title">누적 주행거리 갱신</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body modal-body-show">
          <div class="input-group mb-3">
            <span class="input-group-text">현재 km</span>
            <input type="text" class="form-control updateKmValue">
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger sendUpdateKmBtn">갱신</button>
          <button type="button" class="btn btn-outline-dark closeUpdateKmModalBtn">Close</button>
        </div>
      </div>
    </div>
  </div>  <!--    updateKmModal-->

  <!--    axios 라이브러리 추가-->
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="/js/sellingCar.js"></script>
  <script src="/js/myPage.js"></script>

</div> <!--<div layout:fragment="content">-->

<script layout:fragment="script" th:inline="javascript">

  const userName = [[${userName}]]
  const carId = [[${responseDTO.carId}]]
  const sellingCarId = [[${responseDTO.sellingCarId}]]
  const carNumber = [[${responseDTO.carNumber}]]
  const listFileNames = [[${responseDTO.fileNames}]]

  // Modal
  const sellingCarModal = new bootstrap.Modal(document.querySelector(".sellingCarModal"))
  const sellingCancelModal = new bootstrap.Modal(document.querySelector(".sellingCancelModal"))
  const sellingCarShowModal = new bootstrap.Modal(document.querySelector(".sellingCarShowModal"))
  const updateKmModal = new bootstrap.Modal(document.querySelector(".updateKmModal"))
  const requiredPrice = document.querySelector(".requiredPrice")
  const cancelCarName = document.querySelector(".cancelCarName")
  const owner = document.querySelector(".owner")
  const updateKmValue = document.querySelector(".updateKmValue")
  const sellingCancelBtn = document.querySelector(".sellingCancelBtn")
  const currCarKm = document.querySelector(".currCarKm")

  document.querySelector(".closeShowModalBtn").addEventListener("click", function (e){
    sellingCarShowModal.hide()
  }, false)

  document.querySelector(".closeUpdateKmModalBtn").addEventListener("click", function (e){
    updateKmValue.value = ''
    updateKmModal.hide()
  }, false)

  document.querySelector(".closeSellingCarModalBtn").addEventListener("click", function (e){
    updateKmValue.value = ''
    sellingCarModal.hide()
  }, false)

  document.querySelector(".closeCancelModalBtn").addEventListener("click", function (e){
    sellingCancelModal.hide()
  }, false)

  // [판매 현황] 버튼 클릭
  document.querySelector(".sellingCarShowBtn").addEventListener("click", function (e){
    e.stopPropagation()
    e.preventDefault()

    const formObj = {
      sellingCarId:sellingCarId
    }

    getSellingCar(formObj).then(result => {

      document.getElementById("modalRequiredPrice").value = result.requiredPrice
      document.getElementById("modalExpiredDate").value = result.expiredDate

      sellingCarShowModal.show()
    }).catch(e => {
      console.log(e.response.data);
      alert(e.response.data)
    })

  }, false)

  // [차량 판매] 등록 버튼 클릭
  document.querySelector(".sellingCarRegBtn").addEventListener("click", function (e){
    e.stopPropagation()
    e.preventDefault()

    sellingCarModal.show()
  }, false)

  // 모달창의 [차량 판매] 처리
  document.querySelector(".registerBtn").addEventListener("click", function(e){

    if( listFileNames.length === 0 ){
      alert('차량 판매시 최소 한장의 대표 사진을 등록해야 합니다')
      return
    }

    const formObj = {
      carId:carId,
      requiredPrice:requiredPrice.value
    }

    registerSellingCar(formObj).then(result => {

      alert(result.result)

      requiredPrice.value= ''
      owner.value=''

      sellingCarModal.hide()

      // 화면 재 갱신
      self.location = '/myPage/carDetail?carId=' + carId
              + '&userName=' + [[${#authentication.principal.username}]]

    }).catch(e => {
      if (e.response && e.response.status === 400) {

        alert('잘못된 요청입니다.. 전달값 확인!!')
        console.log(e.response.data.message);
      } else {
        alert('잘못된 요청(else). 전달값 확인!!')
        console.log(e.response.data);
        alert(e.response.data.message)
      }
      sellingCarModal.hide()
    })
  }, false)


  // [판매 취소] 등록 버튼 클릭
  document.querySelector(".sellingCancelBtn").addEventListener("click", function (e){
    e.stopPropagation()
    e.preventDefault()

    cancelCarName.value = `"${carNumber}" 차량 판매를 정말 취소 할거야?'`

    sellingCarShowModal.hide()
    sellingCancelModal.show()
  }, false)

  // [판매 취소] 전송 버튼 클릭
  document.querySelector(".sendCancelBtn").addEventListener("click", function (e){
    const formObj = {
      carId:carId,
    }

    cancelSellingCar(formObj).then(result => {

      alert(result.result)

      sellingCancelModal.hide()

      // 화면 재 갱신
      self.location = '/myPage/carDetail?carId=' + carId
              + '&userName=' + [[${#authentication.principal.username}]]

    }).catch(e => {
      if (e.response && e.response.status === 400) {

        alert('잘못된 요청입니다.. 전달값 확인!!')
        console.log(e.response.data);
      } else {
        console.log(e.response.data);
        alert(e.response.data)
      }
      sellingCancelModal.hide()
    })

  }, false)

  // [구매 희망 리스트] 클릭
  document.querySelector(".currentSituationBtn").addEventListener("click", function (e) {

    self.location = '/sellingCar/' + carId

  }, false)

  // [누적 주행거리 갱신 버튼] 클릭
  document.querySelector(".updateKmBtn").addEventListener("click", function (e) {
    e.stopPropagation()
    e.preventDefault()

    updateKmValue.setAttribute("placeholder",currCarKm.value )

    updateKmModal.show()

  }, false)

  // [누적 주행거리 갱신 버튼] 전송 버튼 클릭
  document.querySelector(".sendUpdateKmBtn").addEventListener("click", function (e){
    const formObj = {
      carId:carId,
      updateKmValue:updateKmValue.value,
    }

    console.log(formObj)

    updateCarKm(formObj).then(result => {

      alert(result.result)

      updateKmModal.hide()

      // 화면 재 갱신
      self.location = '/myPage/carDetail?carId=' + carId
              + '&userName=' + [[${#authentication.principal.username}]]

    }).catch(e => {
      if (e.response && e.response.status === 400) {
        alert('잘못된 요청입니다.. 전달값 확인!!')
        console.log(e.response.data);

      } else {
        alert('잘못된 요청입니다.. 전달값 확인1!!')
        console.log(e.response.data);
        alert(e.response.data)
      }
      updateKmModal.hide()
    })

  }, false)

</script>