<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic.html}">

<head>
  <title>MyCar history</title>
</head>

<div layout:fragment="content">

  <div class="row mt-3">

    <div class="col">
      <div class="card">
        <div class="card-header">
          Car Info
        </div>

        <div class="card-body">

          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
              <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">전체</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="gas-tab" data-bs-toggle="tab" data-bs-target="#gas" type="button" role="tab" aria-controls="gas" aria-selected="false">주유</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="repair-tab" data-bs-toggle="tab" data-bs-target="#repair" type="button" role="tab" aria-controls="repair" aria-selected="false">정비/기타</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="drive-tab" data-bs-toggle="tab" data-bs-target="#drive" type="button" role="tab" aria-controls="drive" aria-selected="false">주행</button>
            </li>
          </ul>
          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">

              <div class="row mt-3">
                <table id="tableAll_temp">
                  <thead>
                  <tr>
                    <th scope="col">결제 금액</th>
                    <th scope="col">누적 km</th>
                    <th scope="col">주유 량(L)</th>
                    <th scope="col">항목</th>
                    <th scope="col">장소</th>
                    <th scope="col">Date</th>
                  </tr>
                  </thead>
                  <tbody id="tableAll">
                  </tbody>
                </table>
              </div>

            </div>
            <div class="tab-pane fade" id="gas" role="tabpanel" aria-labelledby="gas-tab">
              <div class="row mt-3">
                <table id="tableGas_temp">
                  <thead>
                  <tr>
                    <th scope="col">결제 금액</th>
                    <th scope="col">누적 km</th>
                    <th scope="col">주유 량(L)</th>
                    <th scope="col">장소</th>
                    <th scope="col">Date</th>
                  </tr>
                  </thead>
                  <tbody id="tableGas">
                  </tbody>
                </table>
              </div>
              <div class="input-group mb-3">
                <button type="button" class="btn btn-primary addGasHistoryBtn">주유 기록</button>
              </div>

            </div>
            <div class="tab-pane fade" id="repair" role="tabpanel" aria-labelledby="repair-tab">
              <div class="row mt-3">
                <table id="tableRepair_temp">
                  <thead>
                  <tr>
                    <th scope="col">결제 금액</th>
                    <th scope="col">누적 km</th>
                    <th scope="col">항목</th>
                    <th scope="col">장소</th>
                    <th scope="col">Date</th>
                  </tr>
                  </thead>
                  <tbody id="tableRepair">
                  </tbody>
                </table>
              </div>
              <div class="input-group mb-3">
                <button type="button" class="btn btn-primary addRepairHistoryBtn">정비 기록</button>
              </div>
            </div>
            <div class="tab-pane fade" id="drive" role="tabpanel" aria-labelledby="drive-tab">...</div>
          </div>

        </div><!-- <div class="card-body">-->
      </div>
    </div><!--    <div class="col">-->

    <a th:href="|@{/myPage/carDetail(carId=${carId}, userName=${#authentication.principal.username} )}|" class="text-decoration-none">
      <button type="button" class="btn btn-primary">back</button>
    </a>

  </div>

  <!--   주유 기록 추가 모달창-->
  <div class="modal addGasHistoryModal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header">
          <h5 class="modal-title">주유 기록</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body modal-body-show">
          <div class="input-group mb-3">
            <span class="input-group-text">주유 금액</span>
            <input type="text" class="form-control gasPrice" th:value="100000">
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text">주유 장소</span>
            <input type="text" class="form-control gasShop" th:value="부천주유소">
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text">주유량</span>
            <input type="text" class="form-control gasLitter" th:value="30">
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text">누적 주행거리</span>
            <input type="text" class="form-control accumKm" th:value="120000">
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text">점검 날짜</span>
            <input type="date" class="form-control eventDate">
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger sendGasHistoryBtn">추가</button>
          <button type="button" class="btn btn-outline-dark closeRegisterBtn">Close</button>
        </div>
      </div>
    </div>
  </div>  <!-- 주유 기록 추가 모달창-->

  <!--   정비 기록 추가 모달창-->
  <div class="modal addRepairHistoryModal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header">
          <h5 class="modal-title">정비 기록</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body modal-body-show">

          <div class="input-group mb-3">
            <span class="input-group-text">주유량</span>
            <label>
              <select name="repairSelect" id="repairType">
                <option value="2">엔진오일 및 오일필터</option>
                <option value="3">에어컨 필터</option>
                <option value="4">와이퍼</option>
                <option value="5">미션오일</option>s
                <option value="6">배터리</option>
                <option value="7">사고수리</option>
                <option value="8">부동액</option>
                <option value="9">외장수리복원</option>
              </select>
            </label>
          </div>


          <div class="input-group mb-3">
            <span class="input-group-text">정비 금액</span>
            <input type="text" class="form-control repairPrice" th:value="100000">
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text">정비 장소</span>
            <input type="text" class="form-control repairShop" th:value="하나로정비소">
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text">누적 주행거리</span>
            <input type="text" class="form-control repairAccumKm" th:value="120000">
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text">점검 날짜</span>
            <input type="date" class="form-control repairEventDate">
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger sendRepairHistoryBtn">추가</button>
          <button type="button" class="btn btn-outline-dark closeRegisterBtn">Close</button>
        </div>
      </div>
    </div>
  </div>  <!-- 정비 기록 추가 모달창-->

  <!--    axios 라이브러리 추가-->
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="/js/history.js"></script>
</div> <!--<div layout:fragment="content">-->

<script layout:fragment="script" th:inline="javascript">

  let page = 1
  let size = 5

  const currentUser = [[${#authentication.principal.username}]]
  const carId = [[${carId}]]

  const addGasHistoryModal = new bootstrap.Modal(document.querySelector(".addGasHistoryModal"))
  const addRepairHistoryModal = new bootstrap.Modal(document.querySelector(".addRepairHistoryModal"))

  const tableAll = document.getElementById("tableAll");
  const tableGas = document.getElementById("tableGas");
  const tableRepair = document.getElementById("tableRepair");

  const gasPrice = document.querySelector(".gasPrice")
  const gasShop = document.querySelector(".gasShop")
  const gasLitter = document.querySelector(".gasLitter")
  const eventDate = document.querySelector('.eventDate');
  const accumKm = document.querySelector('.accumKm');

  const repairPrice = document.querySelector(".repairPrice")
  const repairShop = document.querySelector(".repairShop")
  const repairEventDate = document.querySelector('.repairEventDate');
  const repairAccumKm = document.querySelector('.repairAccumKm');
  const repairType = document.querySelector('#repairType');


  getAllList()

  // [주유 기록] 등록 버튼 클릭
  document.querySelector(".addGasHistoryBtn").addEventListener("click", function (e){
    e.stopPropagation()
    e.preventDefault()

    eventDate.value = new Date().toISOString().substring(0, 10);  // 오늘 날짜 셋팅

    addGasHistoryModal.show()
  }, false)

  // [주유 기록] modal 전송 버튼 클릭
  document.querySelector(".sendGasHistoryBtn").addEventListener("click", function (e){
    const formObj = {
      carId:carId,
      replacePrice:gasPrice.value,
      replaceShop:gasShop.value,
      gasLitter:gasLitter.value,
      accumKm:accumKm.value,
      replaceDate:new Date(eventDate.value),
      consumableType:'GAS',
      consumableId:1
    }

    console.log(formObj)

    addGasHistory(formObj).then(result => {

      addGasHistoryModal.hide()

      getGasList() // 목록 갱신

      // 화면 재 갱신
      // self.location = '/history?carId=' + carId
      //         + '&userName=' + [[${#authentication.principal.username}]]

    }).catch(e => {
      if (e.response && e.response.status === 400) {

        alert('잘못된 요청입니다.. 전달값 확인!!')
        console.log(e.response.data);
      } else {
        console.log(e.response.data);
        alert(e.response.data)
      }
      addGasHistoryModal.hide()
    })

  }, false)


  // [정비 기록] 등록 버튼 클릭
  document.querySelector(".addRepairHistoryBtn").addEventListener("click", function (e){
    e.stopPropagation()
    e.preventDefault()

    repairEventDate.value = new Date().toISOString().substring(0, 10);  // 오늘 날짜 셋팅

    addRepairHistoryModal.show()
  }, false)

  // [정비 기록] modal 전송 버튼 클릭
  document.querySelector(".sendRepairHistoryBtn").addEventListener("click", function (e){

    console.log('repairType : ' + repairType.value)

    const formObj = {
      carId:carId,
      consumableId:repairType.value,
      replacePrice:repairPrice.value,
      replaceShop:repairShop.value,
      accumKm:repairAccumKm.value,
      replaceDate:new Date(repairEventDate.value),
      //repairType:repairType.value,
      consumableType:'REPAIR',
    }

    console.log(formObj)

    addRepairHistory(formObj).then(result => {

      addRepairHistoryModal.hide()

      getRepairList() // 목록 갱신

    }).catch(e => {
      if (e.response && e.response.status === 400) {

        alert('잘못된 요청입니다.. 전달값 확인!!')
        console.log(e.response.data);
      } else {
        console.log(e.response.data);
        alert(e.response.data)
      }
      addRepairHistoryModal.hide()
    })

  }, false)


  var triggerTabList = [].slice.call(document.querySelectorAll('#myTab button'))
  triggerTabList.forEach(function (triggerEl) {
    var tabTrigger = new bootstrap.Tab(triggerEl)

    triggerEl.addEventListener('click', function (event) {
      event.preventDefault()

      const target = event.target
      const targetId = target.getAttribute("data-bs-target")

      if( targetId === "#home" ){
        getAllList()
      }
      else if(targetId === "#gas" ){
        getGasList()
      }
      else if(targetId === "#repair"){
        getRepairList()
      }

      tabTrigger.show()
    })
  })

  function getAllList(){
    getAllHistory({page,size,carId}).then(data => {

      printAllList(data, tableAll) // 목록 처리

    }).catch(e=>{
      console.error(e)
    })
  }
  function getGasList(){
    getGasHistory({page,size,carId}).then(data => {

      printGasList(data, tableGas) // 목록 처리

    }).catch(e=>{
      console.error(e)
    })
  }
  function getRepairList(){
    getRepairHistory({page,size,carId}).then(data => {

      printRepairList(data, tableRepair) // 목록 처리

    }).catch(e=>{
      console.error(e)
    })
  }

  function makeHistoryData(arr, dtoData){
    arr[0] = dtoData.replacePrice + '원'
    arr[1] = dtoData.accumKm + ' km'
    arr[2] = dtoData.gasLitter > 0 ? dtoData.gasLitter + ' 리터' : ''
    arr[3] = dtoData.repairType === 'x' ? '' : dtoData.repairType
    arr[4] = dtoData.replaceShop
    arr[5] = dtoData.replaceDate
  }

  function printAllList(dtoList, tableRef ) {    // 목록 출력
    // 기존 행 삭제
    while (tableRef.firstChild) {
      tableRef.removeChild(tableRef.firstChild);
    }

    if(dtoList && dtoList.length > 0) {
      dtoList.forEach(function (e, i) {
        const arr = []
        makeHistoryData(arr, e)

        let newRow = tableRef.insertRow(-1);

        for (let j = 0, k = 0; j < arr.length; j++){
          // if(arr[j] !== ""){
            let newCell = newRow.insertCell(j);
            let newText = document.createTextNode(arr[j]);
            newCell.appendChild(newText);
         //   k++;
         // }
        }

      })
    }
  }

  function printGasList(dtoList, tableRef) {    // 목록 출력
    // 기존 행 삭제
    while (tableRef.firstChild) {
      tableRef.removeChild(tableRef.firstChild);
    }

    if(dtoList && dtoList.length > 0) {
      dtoList.forEach(function (e, i) {
        const arr = []
        makeHistoryData(arr, e)

        let newRow = tableRef.insertRow(-1);

        for (let j = 0, k = 0; j < arr.length; j++){
          if(arr[j] !== '' && arr[j] !== '주유'){
            let newCell = newRow.insertCell(k);
            let newText = document.createTextNode(arr[j]);
            newCell.appendChild(newText);
            k++;
          }
        }

      })
    }
  }

  function printRepairList(dtoList, tableRef) {    // 목록 출력
    // 기존 행 삭제
    while (tableRef.firstChild) {
      tableRef.removeChild(tableRef.firstChild);
    }

    if(dtoList && dtoList.length > 0) {
      dtoList.forEach(function (e, i) {
        const arr = []
        makeHistoryData(arr, e)

        let newRow = tableRef.insertRow(-1);

        for (let j = 0, k = 0; j < arr.length; j++){
          if(arr[j] !== ''){
            let newCell = newRow.insertCell(k);
            let newText = document.createTextNode(arr[j]);
            newCell.appendChild(newText);
            k++;
          }
        }

      })
    }
  }

</script>