<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic.html}">

<head>
  <title>MyCar Info</title>
</head>

<div layout:fragment="content">

  <div class="row mt-3">

    <div class="col">
      <div class="card">
        <div class="card-header">
          내차 정보
        </div>

        <div class="card-body">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">carNumber</th>
                <th scope="col">carColors</th>
                <th scope="col">carGrade</th>
                <th scope="col">carKm</th>
                <th scope="col">carModel</th>
                <th scope="col">carYears</th>
              </tr>
            </thead>

            <tbody>
              <tr th:each="dto:${list}">
                <th scope="row">
                  <span th:if="${#strings.equals(dto.sellingCarStatus, 'COMPLETE') == false}">
                    <a th:href="|@{/myPage/carDetail(carId=${dto.carId}, userName=${#authentication.principal.username} )}|"
                       class="text-decoration-none"> [[${dto.carNumber}]]</a>
                  </span>
                  <span th:if="${#strings.equals(dto.sellingCarStatus, 'COMPLETE')}">
                    [[${dto.carNumber}]]
                  </span>
                  <span class="badge progress-bar-success" th:if="${dto.sellingCarStatus}"
                        style="background-color: #0a53be">[[${dto.sellingCarStatus.name}]]</span>

                  <div th:if="${dto.mainImage != null}">
                    <img th:src="|/view/${dto.getMainImage().uuid}_${dto.getMainImage().fileName}|" th:width="150"
                         th:data-src="${dto.getMainImage().uuid}" onclick="window.open(this.src)">
                  </div>

                </th>
                <td>[[${dto.carColors}]]</td>
                <td>[[${dto.carGrade}]]</td>
                <td>[[${dto.carKm}]]</td>
                <td>[[${dto.carModel}]]</td>
                <td>[[${dto.carYears}]]</td>
              </tr>
              </tbody>
          </table>

          <div class="my-4">
            <div class="float-end">
              <a th:href="|@{/myPage/carRegister}|" class="text-decoration-none">
                <button type="button" class="btn btn-primary">차량 등록</button>
              </a>
            </div>
          </div>

        </div><!-- <div class="card-body">-->
      </div>
    </div>
  </div>

</div> <!--<div layout:fragment="content">-->

<script layout:fragment="script" th:inline="javascript">

</script>