<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic.html}">

<head>
  <title>Car Modify</title>
</head>

<div layout:fragment="content">
  <div class="row mt-3">
    <div class="col">
      <div class="card">
        <div class="card-header">
          Car Modify
        </div>
        <div class="card-body">

          <form th:action="@{/myPage/carModify}" method="post" id="f1">
            <div class="input-group mb-3">
              <span class="input-group-text">CarID</span>
              <input type="text" class="form-control carId" th:value="${responseDTO.carId}" name="carId" readonly>
            </div>

            <div class="input-group mb-3">
              <span class="input-group-text">CarNumber</span>
              <input type="text" class="form-control carNumber" th:value="${responseDTO.carNumber}" name="carNumber" readonly>
            </div>

            <div class="input-group mb-3">
              <span class="input-group-text">CarGrade</span>
              <input type="text" class="form-control carGrade" th:value="${responseDTO.carGrade}" name="carGrade" readonly>
            </div>

            <div class="input-group mb-3">
              <span class="input-group-text">CarModel</span>
              <input type="text" class="form-control carModel" th:value="${responseDTO.carModel}" name="carModel" readonly>
            </div>

            <div class="input-group mb-3">
              <span class="input-group-text">CarYears</span>
              <input type="text" class="form-control carYears" th:value="${responseDTO.carYears}" name="carYears">
            </div>

            <div class="input-group mb-3">
              <span class="input-group-text">CarColors</span>
              <input type="text" class="form-control carColors" th:value="${responseDTO.carColors}" name="carColors">
            </div>

            <div class="input-group mb-3">
              <span class="input-group-text">CarKm</span>
              <input type="text" class="form-control carKm" th:value="${responseDTO.carKm}" name="carKm" >
            </div>

            <!-- 첨부 파일 새로 등록-->
            <div class="input-group mb-3">
              <span class="input-group-text">Images</span>
              <div class="float-end uploadHidden">
                <button type="button" class="btn btn-primary uploadFileBtn">ADD Files</button>
              </div>
            </div>

            <div class="my-4">
              <div class="float-end">
                <a th:href="|@{/myPage/carList(memberId=${#authentication.principal.username})}|" class="text-decoration-none">
                  <button type="button" class="btn btn-primary">List</button>
                </a>
                <button type="button" class="btn btn-secondary saveBtn">정보 수정</button>
                <button type="button" class="btn btn-danger removeBtn">삭제</button>
              </div>
            </div>
          </form>

        </div><!-- <div class="card-body">-->

      </div>
    </div>
  </div>

  <!--  첨부파일 섬네일을 보여줄 부분-->
  <div class="row mt-3">
    <div class="col">
      <div class="container-fluid d-flex uploadResult" style="flex-wrap:wrap;">
        <th:block th:each="fileName:${responseDTO.getListAllImage()}">
          <div class="card col-3">
            <div class="card-header d-flex justify-content-center">

              <input type="radio" name="isMainImage" th:value="${fileName.fileName}"
                     th:checked="${fileName.fileName == responseDTO.mainImage.fileName}">메인
              </input>

              [[${fileName.fileName}]]
              <button class="btn-sm btn-danger" th:onclick="removeFileData([[${fileName.uuid}]], [[${fileName.fileName}]], false, true, this)">X</button>
            </div>
            <div class="card-body">
              <img th:src="|/view/s_${fileName.uuid}_${fileName.fileName}|" th:data-src="|${fileName.uuid}_${fileName.fileName}|" >
            </div>
          </div>
        </th:block>
      </div>
    </div>
  </div>

  <!--첨부파일 추가를 위한 모달창-->
  <div class="modal uploadModal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Upload File</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="input-group mb-3">
            <input type="file" name="files" class="form-control" multiple>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary uploadBtn">Upload</button>
          <button type="button" class="btn btn-outline-dark closeUploadBtn">Close</button>
        </div>
      </div>
    </div>
  </div>  <!--  <div class="modal uploadModal" tabindex="-1">-->

  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="/js/upload.js"></script>
  <script src="/js/car.js"></script>
  <script src="/js/myInfo.js"></script>
  <script src="/js/util.js"></script>
  <script src="/js/utilViewHtml.js"></script>
  <script src="/js/utilEventHandler.js"></script>

</div> <!--<div layout:fragment="content">-->

<script layout:fragment="script" th:inline="javascript">

  const uploadModal = new bootstrap.Modal(document.querySelector(".uploadModal"))
  const formObj = document.querySelector("#f1")
  const uploadResult = document.querySelector(".uploadResult")

  const carId = document.querySelector('.carId');
  const carYears = document.querySelector('.carYears');
  const carColors = document.querySelector('.carColors');
  const carKm = document.querySelector('.carKm');

  //첨부 파일 삭제 임시 저장
  const removeFileList = []

  // 최초 페이지 로딩
  pageInit()


  // 모달창의 파일 업로드 처리
  document.querySelector(".uploadBtn").addEventListener("click", function(e){

    const formObj = new FormData();
    const fileInput = document.querySelector("input[name='files']")
    const files = fileInput.files

    for(let i = 0; i < files.length;i++){
      formObj.append("files", files[i]);
    }

    uploadToServer(formObj).then(result => {

      //console.log('uploadToServer after')
      const uploadFiles = uploadResult.querySelectorAll("img")
      let temp = uploadFiles.length
      for(const uploadResult of result){
        //console.log('showUploadFile')
        showUploadFile(uploadResult, false, temp++)
      }

      uploadModal.hide()
    }).catch(e => {
      uploadModal.hide()
    })
  }, false)

  // 등록 Car 삭제 요청
  document.querySelector(".removeBtn").addEventListener("click", function (e) {
    e.preventDefault()
    e.stopPropagation()

    // 화면에 보이는 파일들을 form태그에 추가
    appendFileData()

    // 화면에서 안 보이도록 처리된 파일들을 form 태그에 추가
    appendNotShownData()

    formObj.action = `/myPage/deleteCar`
    formObj.method = 'post'
    formObj.submit()

  }, false)


  // Car 정보 수정 요청
  document.querySelector(".saveBtn").addEventListener("click", function (e) {
    e.preventDefault()
    e.stopPropagation()

    const formObj = {
      carId:carId.value,
      carYears:carYears.value,
      carColors:carColors.value,
      carKm:carKm.value,
      fileNames:getUploadFileNames(),              // 업로드될 파일 이름 리스트 가져오기
      mainImageFileName: getMainImageFileName()
    }

    // 삭제 대상 파일들을 삭제
    callRemoveFiles().then(result => {

      if(result.length > 0){
        console.log('remove files fail!!!')
      }
      else{
        // car 정보 수정 요청
        modifyCarInfo(formObj).then(result => {
          console.log('car 정보 수정 완료')
        }).catch(e => { // HttpStatus.OK 가 아니면.. catch 구문을 탐
          alert('catch: ' + e.response.data.message)
        }).finally(e =>{
          // 화면 재 갱신
          self.location = '/myPage/carList?memberId=' + [[${#authentication.principal.username}]]
        })
      }

    })

  }, false)

</script>