<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic.html}">

<div layout:fragment="content">

    <div class="row mt-3">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title"> 차량 구매 희망 상황</h5>
                </div>
                <div class="card-body">

                    <table class="table buyingCarList">
                        <thead>
                        <tr>
                            <th scope="col">차 번호</th>
                            <th scope="col">차 모델</th>
                            <th scope="col">구매 희망 가격</th>
                            <th scope="col">현재 상태</th>
                            <th scope="col">상세</th>
                            <th scope="col">처리</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="dto:${listBuyingCarDTO}">
                            <th scope="row">[[${dto.carNumber}]]</th>
                            <td>[[${dto.carModel}]]</td>
                            <td>[[${dto.proposalPrice}]]</td>

                            <td>[[${dto.buyCarStatus.statusDesc}]]</td>
                            <td>
                                <a th:href="|@{'/sellingCar/' + ${dto.carId}}|" class="text-decoration-none">조회</a>
                            </td>
                            <td>
                            <!-- 수정 해야 함-->
                                <a th:if="${#strings.endsWith(dto.buyCarStatus, 'CANCEL') == false}">
                                    <button type="button" class="btn btn-primary"
                                            th:onclick="sendCancelOffer([[${dto.carId}]],[[${dto.sellingCarId}]])">신청 취소</button>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                </div><!-- <div class="card-body">-->

            </div>
        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/js/buyingCar.js"></script>
    <script src="/js/util.js"></script>
</div>


<script layout:fragment="script" th:inline="javascript">

    function sendCancelOffer(carId, sellingCarId){
        console.log(carId)

        const formObj = {
            offerType:'consultCancel',
            carId:carId,
            requestPrice:0,
            sellingCarId:sellingCarId,
        }

        requestBuyingCar(formObj).then(result=>{
            alert('정상적으로 처리 되었습니다')

            self.location = '/myPage/carOrderList'

        }).catch(e=>{
            errorResponse(e)
        })
    }

    // document.querySelector(".buyingCarList").addEventListener("click", function(e){
    //
    //     console.log("clearBtn.click()~~~~")
    //
    //     console.log('buyingCarList click~~~~~~~~')
    //     const target = e.target
    //
    //     if(!target || target.tagName !== 'SPAN'){
    //         return
    //     }
    //
    //     const cartId = target.getAttribute("data-cartId")
    //     const itemCount = target.getAttribute("data-itemCount")
    //
    //     if(!cartId || itemCount <= 0){
    //         return
    //     }
    //
    //     cartIdText.value = cartId
    //     cartItemCount.value = itemCount
    //
    //     cancelModal.show()
    // },false)

    // clear 버튼 클릭 이벤트 begin ------------------
    // document.querySelector(".clearBtn").addEventListener("click", function(e){
    //
    //     console.log("clearBtn.click()~~~~")
    //
    //     e.preventDefault()
    //     e.stopPropagation()
    //
    //     self.location = '/dashBoard/carList'
    // },false)
    // clear 버튼 클릭 이벤트 end ------------------

    // 페이지 버튼 클릭 이벤트 begin ------------------
    // document.querySelector(".pagination").addEventListener("click", function(e){
    //
    //     e.preventDefault()  // a태그 나 submit태그의 고유 동작을 중단
    //     e.stopPropagation() // 상위 엘리먼트들로의 이벤트 전파를 중단시킨다.
    //
    //     const target = e.target   // a 태그
    //     if(target.tagName !== 'A'){
    //         return
    //     }
    //
    //     const num = target.getAttribute("data-num")
    //     const formObj = document.querySelector("form")
    //
    //     formObj.innerHTML += `<input type='hidden' name='page' value='${num}'>`
    //     formObj.submit();
    //
    // }, false)
    // 페이지 버튼 클릭 이벤트 begin ------------------


</script>
