<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      layout:decorate="~{layout/basic.html}">

<head>
    <title>Car Register</title>
</head>

<div layout:fragment="content">

    <div class="row mt-3">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    Car Info
                </div>
                <div class="card-body">

                    <!-- 인증 정보에서 사용자 정보 가져오기-->
                    <div class="input-group mb-3" th:with="user=${#authentication.principal}">
                        <span class="input-group-text">고객 명</span>
                        <label>
                            <input type="text" name="userID" class="form-control" th:value="${user.username}">
                        </label>
                    </div>
                    <!-- 인증 정보에서 사용자 정보 가져오기-->

                    <form action="/myPage/carRegister" method="post" id="myRegisterForm">

                        <div class="input-group mb-3">
                            <span class="input-group-text">CarNumber</span>
                            <input type="text" name="carNumber" class="form-control" th:value="35마3983"
                                   value="th:value안될때">
                        </div>

                        <div class="input-group mb-3">
                            <span class="input-group-text">CarGrade</span>
                            <input type="text" name="carGrade" class="form-control" th:value="MIDDLE_LARGE">
                        </div>

                        <div class="input-group mb-3">
                            <span class="input-group-text">CarModel</span>
                            <input type="text" name="carModel" class="form-control" th:value="model1">
                        </div>

                        <div class="input-group mb-3">
                            <span class="input-group-text">CarColors</span>
                            <input type="text" name="carColors" class="form-control" th:value="white">
                        </div>

                        <div class="input-group mb-3">
                            <span class="input-group-text">CarYears</span>
                            <input type="text" name="CarYears" class="form-control" th:value="2013">
                        </div>

                        <div class="input-group mb-3">
                            <span class="input-group-text">carKm</span>
                            <input type="text" name="carKm" class="form-control" th:value="10000">
                        </div>

                        <div class="input-group mb-3">
                            <span class="input-group-text">Images</span>
                            <div class="float-end uploadHidden">
                                <button type="button" class="btn btn-primary uploadFileBtn">ADD Files</button>
                            </div>
                        </div>


                        <div class="my-4">
                            <div class="float-end">
                                <button type="submit" class="btn btn-primary submitBtn">Submit</button>
                                <button type="reset" class="btn btn-secondary">Reset</button>
                            </div>
                        </div>
                    </form>
                </div><!-- <div class="card-body">-->

            </div>
        </div>
    </div>

    <!--    첨부파일 썸네일 보여줄 부분-->
    <div class="row mt-3">
        <div class="col">
            <div class="container-fluid d-flex uploadResult" style="flex-wrap: wrap;">

            </div>
        </div>
    </div>

    <!--    첨부파일 추가를 위한 모달창-->
    <div class="modal uploadModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Upload File</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="input-group mb-3">
                        <input type="file" name="files" class="form-control" multiple>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary uploadBtn">Upload</button>
                    <button type="button" class="btn btn-outline-dark closeUploadBtn">Close</button>
                </div>
            </div>
        </div>
    </div>  <!--    uploadModal-->

    <!--    axios 라이브러리 추가-->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/js/upload.js"></script>

</div> <!--<div layout:fragment="content">-->

<script layout:fragment="script" th:inline="javascript">

    // 사용자 인증 정보 확인 begin ----------------------
    const authlog = [[${#authentication}]]
    const authPrincipal = [[${#authentication.principal}]]
    // 사용자 인증 정보 확인 end ----------------------

    // 에러 처리 부분 begin ----------------------------
    const errors = [[${errors}]]
    console.log(errors)

    let errorMsg = ''
    if (errors) {
        for (let i = 0; i < errors.length; i++) {
            errorMsg += `${errors[i].field}은 ${errors[i].code} \n`
        }

        // param ( 1: 바뀐 주소와 함께 저장할 객체, 2: 바꿀 제목, 3: 바꿀 주소 )
        // https://www.zerocho.com/category/HTML&DOM/post/599d2fb635814200189fe1a7
        history.replaceState({}, null, null)
        alert(errorMsg)
    }
    // 에러 처리 부분 end ----------------------------

    // 이미지 업로드 모달
    const uploadModal = new bootstrap.Modal(document.querySelector(".uploadModal"))

    document.querySelector(".uploadFileBtn").addEventListener("click", function (e){
        e.stopPropagation()
        e.preventDefault()

        uploadModal.show()
    }, false)

    // 모달창의 파일 업로드 처리
    document.querySelector(".uploadBtn").addEventListener("click", function(e){
        const formObj = new FormData();

        const fileInput = document.querySelector("input[name='files']")
        console.log(fileInput.files)

        const files = fileInput.files

        for(let i = 0; i < files.length;i++){
            formObj.append("files", files[i]);
        }

        uploadToServer(formObj).then(result => {
            //console.log(result)

            for(const uploadResult of result){
                showUploadFile(uploadResult)
            }

            uploadModal.hide()
        }).catch(e => {
            uploadModal.hide()
        })
    }, false)

    // 이미지 파일 업로드 결과 화면
    const uploadResult = document.querySelector(".uploadResult")
    function showUploadFile({uuid, fileName, link}){
        const str = `<div class="card col-4">
                <div class="card-header d-flex justify-content-center">
                ${fileName}
                <button class="btn-sm btn-danger" onclick="javascript:removeFile('${uuid}', '${fileName}',
                this)" >X</button>
                </div>
                <div class="card-body">
                    <img src="/view/${link}" data-src="${uuid+"_"+fileName}" >
                </div>
             </div> `
        uploadResult.innerHTML += str
    }

    // 이미지 파일 삭제
    function removeFile(uuid, fileName, obj){
        console.log(uuid + "," + fileName + "," + obj)

        const targetDiv = obj.closest(".card")

        removeFileToServer(uuid, fileName).then(data =>{
            targetDiv.remove()
        })
    }

    document.querySelector(".submitBtn").addEventListener("click", function(e){
        console.log("imgLink:")
        e.preventDefault()
        e.stopPropagation()

        const target = document.querySelector(".uploadHidden")
        const uploadFiles = uploadResult.querySelectorAll("img") // uploadResult : 업로드 미리 보기

        console.log("uploadFiles.length" + uploadFiles.length)
        let str= ''

        for(let i = 0 ; i < uploadFiles.length;i++){
            const uploadFile = uploadFiles[i]
            const imgLink = uploadFile.getAttribute("data-src")

            console.log("imgLink:" + imgLink)

            str += `<input type='hidden' name='fileNames' value="${imgLink}">`
        }
        console.log("str" + str)
        target.innerHTML = str;

        // 실제 등록 처리
        document.querySelector("#myRegisterForm").submit();
        //document.querySelector("form").submit();

    }, false)

</script>
</html>