<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic.html}">

<head>
  <title>Delivery Address Manager</title>
</head>

<div layout:fragment="content">

  <div class="row mt-3">
    <div class="col">
      <div class="card">
        <div class="card-header">
          배송 주소록 관리
        </div>
        <div class="card-body">

          <div class="input-group mb-3">
            <span class="input-group-text">배송</span>
            <input type="text" class="form-control myMPoint" readonly>
          </div>

        </div><!-- <div class="card-body">-->
      </div>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col">
      <div class="card">
        <div class="card-header">
          배송 리스트
        </div>
        <div class="card-body">



        </div><!-- <div class="card-body">-->
      </div>
    </div>
  </div>



  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="/js/myInfo.js"></script>

</div> <!--<div layout:fragment="content">-->

<script layout:fragment="script" th:inline="javascript">


</script>