<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic.html}">

<head>
  <title>MyCar Info</title>
</head>

<div layout:fragment="content">

  <div class="row mt-3">

    <div class="col">
      <div class="card">
        <div class="card-header">
          Car Summary Info
        </div>
        <div class="card-body">

          <table class="table">
            <thead>
              <tr>
                <th scope="col">carNumber</th>
                <th scope="col">carInfo</th>
              </tr>
            </thead>

            <tbody>
              <tr th:each="dto:${list}">
                <th scope="row">
                  <a th:href="|@{/myPage/myCarRead(carcarNumber=${dto.carNumber})}|" class="text-decoration-none"> [[${dto.carNumber}]]</a>
                </th>

                <td>[[${dto.CarInfo}]]</td>

              </tr>
              </tbody>
          </table>

          <div class="my-4">
            <div class="float-end">
              <a th:href="|@{/myPage/carRegister}|" class="text-decoration-none">
                <button type="button" class="btn btn-primary">New</button>
              </a>
            </div>
          </div>


        </div><!-- <div class="card-body">-->
      </div>
    </div>
  </div>







</div> <!--<div layout:fragment="content">-->

<script layout:fragment="script" th:inline="javascript">

</script>