<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic.html}">

<head>
  <title>My Point</title>
</head>

<div layout:fragment="content">

  <div class="row mt-3">
    <div class="col">
      <div class="card">
        <div class="card-header">
          나의 포인트 정보
        </div>
        <div class="card-body">

          <div class="input-group mb-3">
            <span class="input-group-text">나의 포인트</span>
            <input type="text" class="form-control myMPoint" readonly>
          </div>

        </div><!-- <div class="card-body">-->
      </div>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col">
      <div class="card">
        <div class="card-header">
          나의 포인트 적립 내역
        </div>
        <div class="card-body">

          <div class="row mt-3">
            <div class="col">
              <div class="opt-box">
                <strong class="opt-tit">기간</strong>
                <select class="sel-tp01" id="searchPeriod" onchange="changePeriodSelect()" style="width:100px;">
                  <option value="7">7일</option>
                  <option value="30">30일</option>
                  <option value="90">90일</option>
                </select>
                <span class="inp-t inp-date" style="width: 150px;">
					<input type="date" title="날짜" id="fromDay" >
                </span>
                <span class="form-t">~</span>
                <span class="inp-t inp-date" style="width: 150px;">
                    <input type="date" title="날짜" id="toDay">
                </span>
                <button type="button" class="btn btn-primary searchBtn" id="btnSearch" style="width: 80px;"><span>조회</span></button>
              </div>
            </div>
          </div>

          <div class="row mt-3">
            <table id="tableMyPoint_temp">
              <thead>
              <tr>
                <th scope="col">획득 경로</th>
                <th scope="col">획득 포인트</th>
                <th scope="col">이용 시간</th>
              </tr>
              </thead>
              <tbody id="tableMyPoint">
              </tbody>
            </table>
          </div>

        </div><!-- <div class="card-body">-->
      </div>
    </div>
  </div>



  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="/js/myInfo.js"></script>

</div> <!--<div layout:fragment="content">-->

<script layout:fragment="script" th:inline="javascript">

  let page = 1
  let size = 5

  const fromDay = document.querySelector('#fromDay');
  const toDay = document.querySelector('#toDay');
  const searchPeriod = document.querySelector('#searchPeriod');
  const tableMyPoint = document.getElementById("tableMyPoint");
  const myMPoint = document.querySelector('.myMPoint');

  var beforeDay = 90;  // 페이지 이동시 기본 현재 날짜 기준 90일 전 부터 조회
  var nowDate = new Date();
  var startDate = new Date(nowDate.getTime() - (beforeDay*24*60*60*1000)).toISOString().substring(0, 10)

  var tomorrowDate = nowDate.setDate(nowDate.getDate() + 1)
  var endDate = new Date(tomorrowDate).toISOString().substring(0, 10)

  const formObj = {
    fromDay:startDate,
    toDay:endDate
  }

  getMyPointInfo(formObj)

  function getMyPointInfo(formObj){
    getMyPoint(formObj).then(data => {

      // 유저의 총 포인트 set
      myMPoint.value = data.totalMPoint

      printMyPoint(data.dtoList) // 목록 처리

    }).catch(e=>{
      console.error(e)
    })
  }

  function makePointData(arr, dtoData){
    arr[0] = dtoData.refMissionName
    arr[1] = dtoData.gainPoint
    arr[2] = dtoData.regDate
  }

  function printMyPoint(dtoList ) {    // 목록 출력
    // 기존 행 삭제
    while (tableMyPoint.firstChild) {
      tableMyPoint.removeChild(tableMyPoint.firstChild);
    }

    if(dtoList && dtoList.length > 0) {
      dtoList.forEach(function (e, i) {
        const arr = []
        makePointData(arr, e)

        let newRow = tableMyPoint.insertRow(-1);

        for (let j = 0, k = 0; j < arr.length; j++){
          let newCell = newRow.insertCell(j);
          let newText = document.createTextNode(arr[j]);
          newCell.appendChild(newText);
        }

      })
    }
  }

  function changePeriodSelect(){

    var beforeDay = searchPeriod.value;  // 페이지 이동시 기본 현재 날짜 기준 90일 전 부터 조회
    var nowDate = new Date();
    var startDate = new Date(nowDate.getTime() - (beforeDay*24*60*60*1000)).toISOString().substring(0, 10)
    var endDate = new Date().toISOString().substring(0, 10)

  // 날짜 input 값 설정
    fromDay.value = startDate
    toDay.value = endDate
  }

  // function temp(){
  //   var toDay = $util.date().currdate;
  //
  //   toDay = $util.formatDate(toDay,"-");
  //
  //   var data = parseInt($(this).attr("data"));
  //
  //   var nowDate = new Date();
  //   var weekDate = nowDate.getTime() - (data*24*60*60*1000);
  //   nowDate.setTime(weekDate);
  //
  //   var weekYear = nowDate.getFullYear();
  //   var weekMonth = nowDate.getMonth()+1;
  //   var weekDay = nowDate.getDate();
  //
  //   if(weekMonth < 10){
  //     weekMonth = "0"+weekMonth;
  //   }
  //   if(weekDay <10){
  //     weekDay = "0"+weekDay;
  //   }
  //
  //   var resultDate = weekYear+"-"+weekMonth+"-"+weekDay;
  //
  //   var fromDay = $util.dateToNumber(resultDate);
  //   var toDay = $util.dateToNumber(toDay);
  //
  //   $("#fromDay").val(fromDay);
  //   $("#toDay").val(toDay);
  //
  // }
  //
  //




  // 포인트 조회 요청 처리
  document.querySelector(".searchBtn").addEventListener("click", function(e){

    console.log("fromDay : " + fromDay.value)
    console.log("toDay : " + toDay.value)

    let endDate = new Date(toDay.value)
    endDate = endDate.setDate(endDate.getDate() + 1)  // 내일 날짜
    endDate = new Date(endDate).toISOString().substring(0, 10) // 2024-04-03 으로 포멧 변경

    const formObj = {
      fromDay:fromDay.value,
      toDay:endDate
    }

    getMyPointInfo(formObj)

  }, false)
</script>