<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic.html}">

<head>
  <title>Car Detail Info</title>
</head>

<div layout:fragment="content">
  <div class="row mt-3">
    <div class="col">
      <div class="card">
        <div class="card-header">
          Car Detail Info
        </div>
        <div class="card-body">
          <!--            dto 값 출력 부분-->
          <div class="input-group mb-3">
            <span class="input-group-text">CarID</span>
            <input type="text" class="form-control" th:value="${responseDTO.carId}" readonly>
          </div>

          <div class="input-group mb-3">
            <span class="input-group-text">CarNumber</span>
            <input type="text" class="form-control" th:value="${responseDTO.carNumber}" readonly>
          </div>

          <div class="input-group mb-3">
            <span class="input-group-text">CarGrade</span>
            <input type="text" class="form-control" th:value="${responseDTO.carGrade}" readonly>
          </div>

          <div class="input-group mb-3">
            <span class="input-group-text">CarModel</span>
            <input type="text" class="form-control" th:value="${responseDTO.carModel}" readonly>
          </div>

          <div class="input-group mb-3">
            <span class="input-group-text">CarYears</span>
            <input type="text" class="form-control" th:value="${responseDTO.carYears}" name="carYears">
          </div>

          <div class="input-group mb-3">
            <span class="input-group-text">CarColors</span>
            <input type="text" class="form-control" th:value="${responseDTO.carColors}" name="carColors">
          </div>

          <div class="input-group mb-3">
            <span class="input-group-text">CarKm</span>
            <input type="text" class="form-control" th:value="${responseDTO.carKm}" name="carKm" >
          </div>

          <input type="hidden" name="sellingCarId" th:value="${responseDTO.sellingCarId}">

          <div class="my-4" th:with="user=${#authentication.principal}">
            <div class="float-end" th:with="link = ${pageRequestDTO.getLink()}">

              <button type="button" class="btn btn-primary sellingCarRegBtn text-decoration-none"
                      th:classappend="${#strings.equals(responseDTO.sellingCarStatus, 'PROCESSING') ? 'invisible':''}" >
                    <span th:id="sellingCarReg">
                      경매 등록
                    </span>
              </button>

              <button type="button" class="btn btn-primary sellingCarShowBtn text-decoration-none"
                      th:classappend="${#strings.equals(responseDTO.sellingCarStatus, 'PROCESSING') == false ? 'invisible':''}" >
                    <span th:id="sellingCarShow">
                      판매 현황
                    </span>
              </button>

              <a th:href="|@{/myPage/userCarList(userName=${#authentication.principal.username})}|" class="text-decoration-none">
                <button type="button" class="btn btn-primary">List</button>
              </a>
              <a th:href="|@{/myPage/userCarModify(carId=${responseDTO.carId}, userName=${#authentication.principal.username} )}|" class="text-decoration-none">
                <button type="button" class="btn btn-secondary">Modify</button>
              </a>
            </div>
          </div>

        </div><!-- <div class="card-body">-->

        <div class="row mt-3">
          <div class="col">
            <div class="container-fluid d-flex uploadResult" style="flex-wrap:wrap;">
              <th:block th:each="fileName:${responseDTO.fileNames}">
                <div class="card col-4">
                  <div class="card-header d-flex justify-content-center">
                    [[${fileName.fileName}]]
                  </div>
                  <div class="card-body">
                    <img th:src="|/view/s_${fileName.uuid}_${fileName.fileName}|" th:data-src="${fileName.uuid}" >
                  </div>
                </div>
              </th:block>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>

  <!--    첨부파일 추가를 위한 모달창-->
  <div class="modal registerModal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header">
          <h5 class="modal-title">구매 요청</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="input-group mb-3">
            <span class="input-group-text">최소 가격</span>
            <input type="text" class="form-control requiredPrice" th:value="1000000">
          </div>
          <div class="input-group mb-3" th:with="user=${#authentication.principal}">
            <span class="input-group-text">소유자</span>
            <input type="text" class="form-control owner" th:value="${user.username}" readonly>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary registerBtn">Register</button>
          <button type="button" class="btn btn-outline-dark closeRegisterBtn">Close</button>
        </div>
      </div>
    </div>
  </div>  <!--    uploadModal-->

  <!--   판매 현황 모달창-->
  <div class="modal sellingCarShowModal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header">
          <h5 class="modal-title">판매 현황</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body modal-body-show">
          <div class="input-group mb-3">
            <span class="input-group-text">판매 최소가격</span>
            <input type="text" class="form-control requiredPrice" id="modalRequiredPrice">
          </div>

          <div class="input-group mb-3">
            <span class="input-group-text">판매 마감 시간</span>
            <input type="text" class="form-control requiredPrice" id="modalExpiredDate">
          </div>

          <div class="input-group mb-3" th:with="user=${#authentication.principal}">
            <span class="input-group-text">소유자</span>
            <input type="text" class="form-control owner" th:value="${user.username}" readonly>
          </div>


        </div>
        <div class="modal-footer">
<!--          <button type="button" class="btn btn-primary registerBtn">Register</button>-->
<!--          <button type="button" class="btn btn-outline-dark closeRegisterBtn">Close</button>-->
        </div>
      </div>
    </div>
  </div>  <!--    sellingCarShowModal-->

  <!--    axios 라이브러리 추가-->
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="/js/sellingCar.js"></script>

</div> <!--<div layout:fragment="content">-->

<script layout:fragment="script" th:inline="javascript">

  const userName = [[${userName}]]
  const carId = [[${responseDTO.carId}]]
  const sellingCarId = [[${responseDTO.sellingCarId}]]

  // Modal
  const registerModal = new bootstrap.Modal(document.querySelector(".registerModal"))
  const sellingCarShowModal = new bootstrap.Modal(document.querySelector(".sellingCarShowModal"))
  const requiredPrice = document.querySelector(".requiredPrice")
  const owner = document.querySelector(".owner")

  // 판매 현황 버튼 클릭
  document.querySelector(".sellingCarShowBtn").addEventListener("click", function (e){
    e.stopPropagation()
    e.preventDefault()

    const formObj = {
      sellingCarId:sellingCarId
    }

    getSellingCar(formObj).then(result => {

      alert(result.requiredPrice)

      document.getElementById("modalRequiredPrice").value = result.requiredPrice;
      document.getElementById("modalExpiredDate").value = result.expiredDate

      sellingCarShowModal.show()
    }).catch(e => {
      console.log(e.response.data);
      alert(e.response.data)
    })

  }, false)

  // 경매 등록 버튼 클릭
  document.querySelector(".sellingCarRegBtn").addEventListener("click", function (e){
    e.stopPropagation()
    e.preventDefault()

    registerModal.show()
  }, false)

  // 모달창의 차량 판매 처리
  document.querySelector(".registerBtn").addEventListener("click", function(e){
    const formObj = {
      carId:carId,
      requiredPrice:requiredPrice.value
    }

    registerSellingCar(formObj).then(result => {

      alert(result.result)

      requiredPrice.value= ''
      owner.value=''

      registerModal.hide()
    }).catch(e => {
      if (e.response && e.response.status === 400) {

        alert('잘못된 요청입니다.. 전달값 확인!!')
        console.log(e.response.data);
      } else {
        console.log(e.response.data);
        alert(e.response.data)
      }
      registerModal.hide()
    })

  }, false)



</script>