<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic.html}">

<div layout:fragment="content">

  <div class="row mt-3">
    <div class="col">
      <div class="card">
        <div class="card-header">

        </div>
        <div class="card-body">
          <h5 class="card-title">소모품 관리</h5>

          <table class="table">
            <thead>
            <tr>
              <th scope="col">name</th>
              <th scope="col">type</th>
              <th scope="col">교체주기(km)</th>
              <th scope="col">교체주기(달)</th>
              <th scope="col">교체 알림</th>
              <th scope="col">replacePrice</th>
              <th scope="col">replaceShop</th>
              <th scope="col">accumKm</th>
              <th scope="col">최근 점검날짜</th>

            </tr>
            </thead>
            <tbody>
            <tr th:each="dto:${listDTO}">

              <th scope="row">
                <a th:href="|@{/consumable/history(carId=${carId},refConsumableId=${dto.refConsumableId}, memberId=${#authentication.principal.username} )}|"
                   class="text-decoration-none"> [[${dto.name}]]</a>
              </th>

              <td>[[${dto.repairType}]]</td>
              <td>[[${dto.replaceCycleKm}]]</td>
              <td>[[${dto.replaceCycleMonth}]]</td>

              <td th:text="${#strings.equals(dto.replaceAlarm, 'READY_CYCLE') ? '점검 필요':''}" style="color: red"></td>
              <td th:text="${dto.replaceShop == null ? '' : #numbers.formatInteger(dto.replacePrice, (dto.replacePrice == 0 ? 1 : 3), 'COMMA') + '원'}"></td>
              <td>[[${dto.replaceShop}]]</td>
              <td>[[${dto.accumKm == 0 ? '' : dto.accumKm + ' km' }]]</td>
              <td>[[${#temporals.format(dto.replaceDate,'yyyy-MM-dd')}]]</td>
              <td><button type="button" class="btn btn-primary" th:onclick="|modifyBtnClick('${dto.refConsumableId}');|" >기록</button></td>

            </tr>
            </tbody>
          </table>

          <div class="my-4">
            <div class="float-end">
              <a th:href="|@{/myPage/carDetail(carId=${carId}, memberId=${#authentication.principal.username})}|" class="text-decoration-none">
                <button type="button" class="btn btn-primary">back</button>
              </a>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>


  <!--    소모품 점검 일자 등록을 위한 모달창-->
  <div class="modal modifyConsumableModal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header">
          <h5 class="modal-title">소모품 이력 등록</h5>
          <button type="button" class="btn-close closeModalBtn" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

          <div class="input-group mb-3">
            <span class="input-group-text">소모품 ID</span>
            <input type="text" id="modalRefConsumableId" readonly>
          </div>

          <div class="input-group mb-3">
            <span class="input-group-text">교체 비용</span>
            <input type="text" id="modalReplacePrice" th:value="10000">
          </div>

          <div class="input-group mb-3">
            <span class="input-group-text">누적 거리</span>
            <input type="text" id="modalAccumKm" th:value="50000">
          </div>

          <div class="input-group mb-3">
            <span class="input-group-text">교체 장소</span>
            <input type="text" id="modalReplaceShop" th:value="삼성정비소">
          </div>

          <div class="input-group mb-3">
            <span class="input-group-text">점검 날짜</span>
            <input type="date" id="modalReplaceDate" >
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary sendRegisterBtn">Register</button>
          <button type="button" class="btn btn-outline-dark closeModalBtn">Close</button>
        </div>
      </div>
    </div>
  </div> <!--    소모품 점검 일자 등록을 위한 모달창-->

  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="/js/consumable.js"></script>
  <script src="/js/myInfo.js"></script>
  <script src="/js/util.js"></script>
  <script src="/js/utilEventHandler.js"></script>
  <script src="/js/utilViewHtml.js"></script>

</div>


<script layout:fragment="script" th:inline="javascript">
  console.log("info.html()~~~~")

  const carId = [[${carId}]]

  const modifyConsumableModal = new bootstrap.Modal(document.querySelector(".modifyConsumableModal"))
  const modalReplaceDate = document.querySelector('#modalReplaceDate');
  const modalRefConsumableId = document.querySelector("#modalRefConsumableId")
  const modalReplacePrice = document.querySelector("#modalReplacePrice")
  const modalAccumKm = document.querySelector("#modalAccumKm")
  const modalReplaceShop = document.querySelector("#modalReplaceShop")

  // 최초 페이지 로딩
  pageInit()

  function modifyBtnClick(refConsumableId){

    console.log("refConsumableId : " + refConsumableId)
    console.log("modifyBtnClick()~~~~")

    modalRefConsumableId.value = refConsumableId;

    // 현재 날짜로 셋팅
    modalReplaceDate.value = new Date().toLocaleDateString('en-CA')

    modifyConsumableModal.show()
  }

  // 모달창의 [소모품 이력 등록] 처리
  document.querySelector(".sendRegisterBtn").addEventListener("click", function(e){
    const formObj = {
      carId:carId,
      refConsumableId:modalRefConsumableId.value,
      replacePrice:modalReplacePrice.value,
      replaceShop:modalReplaceShop.value,
      accumKm:modalAccumKm.value,
      replaceDate: new Date(modalReplaceDate.value),
      consumableType:'REPAIR',
    }

    console.log(modalRefConsumableId.value)
    console.log(modalReplaceDate.value)

    registerConsumable(formObj).then(result => {

      if(result.result === 'fail'){
        alert(result.message)
      }

      modalRefConsumableId.value= ''
      modalReplaceDate.value= ''

      modifyConsumableModal.hide()

      // 화면 재 갱신
      self.location = '/consumable/info?carId=' + carId

    }).catch(e => {
      errorResponse(e)
      modifyConsumableModal.hide()
    })
  }, false)

  // 모달 창 값 초기화
  function initModalData(obj){
    console.log('consumable.html - initModalData()!!!!')

    const target = obj.target
    const dialog = target.closest(".modal-dialog")

    modifyConsumableModal.hide()
  }


</script>
