<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic.html}">

<div layout:fragment="content">

  <div class="row mt-3">
    <div class="col">
      <div class="card">
        <div class="card-header">

        </div>
        <div class="card-body">
          <h5 class="card-title">수리 내역</h5>

          <div class="h4 text-info text-left">
            <span th:text="${repairName}"></span>
          </div>

          <table class="table">
            <thead>
            <tr>
              <th scope="col">점검 일자</th>
              <th scope="col">수리 가격</th>
              <th scope="col">누적 km</th>
              <th scope="col">점검 정비소</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="dto:${listDTO}">

              <th scope="row">
                <a th:href="|@{/consumable/modify(consumableId=${dto.consumableId})}|"
                   class="text-decoration-none">[[${#temporals.format(dto.replaceDate,'yyyy-MM-dd')}]]</a>
              </th>
              <td th:text="${#numbers.formatInteger(dto.replacePrice, (dto.replacePrice == 0 ? 1 : 3), 'COMMA') + '원'}"></td>
              <td>[[${dto.accumKm == 0 ? '' : dto.accumKm + ' km' }]]</td>
              <td>[[${dto.replaceShop}]]</td>
            </tr>
            </tbody>
          </table>

          <div class="my-4">
            <div class="float-end">
              <a th:href="|@{/consumable/info(carId=${carId})}|" class="text-decoration-none">
                <button type="button" class="btn btn-primary">back</button>
              </a>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>



  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="/js/consumable.js"></script>
  <script src="/js/myInfo.js"></script>
  <script src="/js/util.js"></script>
  <script src="/js/utilViewHtml.js"></script>
</div>


<script layout:fragment="script" th:inline="javascript">

  // 최초 페이지 로딩
  pageInit()

</script>
