<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic.html}">

<div layout:fragment="content">

  <div class="row mt-3">
    <div class="col">
      <div class="card">
        <div class="card-header">

        </div>
        <div class="card-body">
          <h5 class="card-title">Consumable info</h5>

          <table class="table">
            <thead>
            <tr>
              <th scope="col">name</th>
              <th scope="col">type</th>
              <th scope="col">replaceCycleKm</th>
              <th scope="col">replaceCycleKm</th>
              <th scope="col">viewOrder</th>
              <th scope="col">마지막 교체 날짜</th>

            </tr>
            </thead>
            <tbody>
            <tr th:each="dto:${listDTO}">
              <th scope="row">[[${dto.name}]]</th>
              <td>[[${dto.repairType}]]</td>
              <td>[[${dto.replaceCycleKm}]]</td>
              <td>[[${dto.replaceCycleMonth}]]</td>
              <td>[[${dto.viewOrder}]]</td>
              <td>[[${#temporals.format(dto.replaceDate,'yyyy-MM-dd')}]]</td>
              <td><button type="button" class="btn btn-primary" th:onclick="|modifyBtnClick('${dto.consumableId}');|" >수정</button></td>

            </tr>
            </tbody>
          </table>

        </div>
      </div>
    </div>
  </div>


  <!--    소모품 점검 일자 등록을 위한 모달창-->
  <div class="modal modifyConsumableModal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header">
          <h5 class="modal-title">날짜 등록</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

          <div class="input-group mb-3">
            <span class="input-group-text">소모품 ID</span>
            <input type="text" id="modalConsumableId" readonly>
          </div>

          <div class="input-group mb-3">
            <span class="input-group-text">점검 날짜</span>
            <input type="date" id="modalReplaceDate" >
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary sendRegisterBtn">Register</button>
          <button type="button" class="btn btn-outline-dark closeRegisterBtn">Close</button>
        </div>
      </div>
    </div>
  </div> <!--    소모품 점검 일자 등록을 위한 모달창-->

  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="/js/consumable.js"></script>

</div>


<script layout:fragment="script" th:inline="javascript">
  console.log("info.html()~~~~")

  const carId = [[${carId}]]

  const modifyConsumableModal = new bootstrap.Modal(document.querySelector(".modifyConsumableModal"))
  const modalReplaceDate = document.querySelector('#modalReplaceDate');
  const modalConsumableId = document.querySelector("#modalConsumableId")

  function modifyBtnClick(consumableId){

    console.log("consumableId : " + consumableId)
    console.log("modifyBtnClick()~~~~")

    modalConsumableId.value = consumableId;
    modalConsumableId.value = consumableId;

    // 현재 날짜로 셋팅
    modalReplaceDate.value = new Date().toISOString().substring(0, 10);

    modifyConsumableModal.show()
  }

  // 모달창의 [소모품 점검 날짜 register] 처리
  document.querySelector(".sendRegisterBtn").addEventListener("click", function(e){
    const formObj = {
      carId:carId,
      consumableId:modalConsumableId.value,
      replaceDate: new Date(modalReplaceDate.value)
    }

    console.log(modalConsumableId.value)
    console.log(modalReplaceDate.value)

    registerConsumable(formObj).then(result => {

      alert(result.result)

      modalConsumableId.value= ''
      modalReplaceDate.value= ''

      modifyConsumableModal.hide()

      // 화면 재 갱신
      self.location = '/consumable/info?carId=' + carId
              + '&userName=' + [[${#authentication.principal.username}]]

    }).catch(e => {
      if (e.response && e.response.status === 400) {

        alert('잘못된 요청입니다.. 전달값 확인!!')
        console.log(e.response.data);
      } else {
        console.log(e.response.data);
        alert(e.response.data)
      }
      modifyConsumableModal.hide()
    })
  }, false)





</script>
