<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic.html}">

<head>
  <title>차량 구매</title>
</head>

<div layout:fragment="content">

  <div class="row mt-3">
    <div class="col">
      <div class="card">
        <div class="card-header">
          Car Info
        </div>
        <div class="card-body">
          <input type="hidden" name="sellingCarId" th:value="${carInfoDTO.sellingCarId}">

          <!--            dto 값 출력 부분-->
          <div class="input-group mb-3">
            <span class="input-group-text">CarID</span>
            <input type="text" class="form-control" th:value="${carInfoDTO.carId}" readonly>
          </div>

          <div class="input-group mb-3">
            <span class="input-group-text">CarNumber</span>
            <input type="text" class="form-control" th:value="${carInfoDTO.carNumber}" readonly>
          </div>

          <div class="input-group mb-3">
            <span class="input-group-text">carGrade</span>
            <input type="text" class="form-control" th:value="${carInfoDTO.carGrade}" readonly>
          </div>

        </div><!-- <div class="card-body">-->
      </div>
    </div>
  </div>  <!--  <div class="row mt-3">-->

  <div class="row mt-3">

    <div class="col">
      <div class="card">
        <div class="card-header">
          구매 희망 가격
        </div>

        <div class="card-body">

          <ul class="list-group userBuyingCarInfo">
            <div class="input-group mb-3">
              <span class="input-group-text">고객 제안 가격</span>
              <input type="text" class="form-control userProposalPrice" readonly>
            </div>
          </ul>


          <ul class="list-group buyingCarList">
            <!-- 리스트 영역-->
          </ul>

          <div class="my-4">
            <div class="float-end">
              <button type="button" class="btn btn-primary purchaseOfferBtn" th:btn-type="new">New</button>
              <button type="button" class="btn btn-outline-dark closeRegisterBtn">Close</button>
            </div>
          </div><!-- <div class="my-4">-->

        </div><!-- <div class="card-body">-->
      </div>
    </div>
  </div>  <!--  <div class="row mt-3">-->

  <!--    구매 요청을 위한 모달창-->
  <div class="modal purchaseOfferModal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header">
          <h5 class="modal-title">구매 요청</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="input-group mb-3">
            <span class="input-group-text">희망 가격</span>
            <input type="text" class="form-control requestPrice" th:value="1000000">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary sendRegisterBtn">Register</button>
          <button type="button" class="btn btn-outline-dark closeRegisterBtn">Close</button>
        </div>
      </div>
    </div>
  </div>  <!--    purchaseOfferModal-->

  <!--    가격 수정 요청을 위한 모달창-->
  <div class="modal modifyOfferModal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header">
          <h5 class="modal-title">가격 수정 요청</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="input-group mb-3">
            <span class="input-group-text">기존 가격</span>
            <input type="text" class="form-control userCurrentPrice">
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text">희망 가격</span>
            <input type="text" class="form-control modifyPrice" th:value="1000000">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary sendModifyBtn">Modify</button>
          <button type="button" class="btn btn-outline-dark closeRegisterBtn">Close</button>
        </div>
      </div>
    </div>
  </div>  <!--    modifyOfferModal-->

  <!--    axios 라이브러리 추가-->
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="/js/buyingCar.js"></script>

</div> <!--<div layout:fragment="content">-->


<script layout:fragment="script" th:inline="javascript">

  const carId = [[${carInfoDTO.carId}]]
  const sellingCarId = [[${carInfoDTO.sellingCarId}]]
  const currentUser = [[${#authentication.principal.username}]]

  const purchaseOfferModal = new bootstrap.Modal(document.querySelector(".purchaseOfferModal"))
  const modifyOfferModal = new bootstrap.Modal(document.querySelector(".modifyOfferModal"))

  const requestPrice = document.querySelector(".requestPrice")
  const modifyPrice = document.querySelector(".modifyPrice")
  const buyingCarList = document.querySelector('.buyingCarList')          // 구매 희망 목록 DOM
  const userProposalPrice = document.querySelector('.userProposalPrice')  // 접속한 고객이 제안한 가격 DOM
  const userCurrentPrice = document.querySelector('.userCurrentPrice')    // 접속한 고객이 현재 제안한 가격 DOM
  const purchaseOfferBtn = document.querySelector('.purchaseOfferBtn')

  printBuyingCarList(1,10)

  function printBuyingCarList(page,size){
    getList({currentUser, sellingCarId, page, size}).then(data=> {

      printList(data.listBuyingCarDTO) // 목록 처리
     // printPages(data)        // 페이지 처리
    }).catch(e=>{
      console.error(e)
    })
  }

  // 목록 출력
  function printList(dtoList){
    let str = '';

    if(dtoList && dtoList.length > 0){
      for(const dto of dtoList){

        // 해당 차에 가격 제안을 했다면
        if(Object.is(dto.userName, currentUser)){
            userProposalPrice.value = dto.proposalPrice
            purchaseOfferBtn.innerHTML = 'Modify'
            purchaseOfferBtn.setAttribute("btn-type", "modify")
        }

        str += `<li class="list-group-item d-flex replyItem">
                    <span class="col-2">${dto.userName}</span>
                    <span class="col-2">${dto.proposalPrice}</span>
                    <span class="col-6" data-rno="${dto.userName}">${dto.registerDate}</span>
               </li>`
      }
    }
    buyingCarList.innerHTML = str
  }

  // 구매 제안 버튼 클릭
  document.querySelector(".purchaseOfferBtn").addEventListener("click", function (e){
    e.stopPropagation()
    e.preventDefault()

    const target = e.target
    const offerType = target.getAttribute("btn-type")

    if(offerType === "new"){
      purchaseOfferModal.show()
    }
    else{
      userCurrentPrice.value = userProposalPrice.value
      modifyOfferModal.show()
    }

  }, false)

  function sendPurchaseOffer(formObj) {

    purchaseOffer(formObj).then(result => {

      printBuyingCarList(1,10)

      initModalDisplay(formObj)

    }).catch(e => {
      if (e.response && e.response.status === 400) {

        alert('잘못된 요청입니다.. 전달값 확인!!')
        console.log(e.response.data);
      } else {
        console.log(e.response.data);
        alert(e.response.data)
      }

      initModalDisplay(formObj)
    })
  }

  function initModalDisplay(formObj) {

    if(formObj.offerType === 'new'){
      requestPrice.value= ''
      purchaseOfferModal.hide()
    }
    else{
      modifyPrice.value= ''
      modifyOfferModal.hide()
    }
  }

  // 모달창의 구매 제안 처리
  document.querySelector(".sendRegisterBtn").addEventListener("click", function(e){

    const formObj = {
      offerType:'new',
      carId:carId,
      sellingCarId:sellingCarId,
      requestPrice:requestPrice.value
    }
    sendPurchaseOffer(formObj)
  }, false)

  // 모달창의 구매 제안 처리
  document.querySelector(".sendModifyBtn").addEventListener("click", function(e){

    const formObj = {
      offerType:'modify',
      carId:carId,
      sellingCarId:sellingCarId,
      requestPrice:modifyPrice.value
    }
    sendPurchaseOffer(formObj)
  }, false)

</script>