<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic.html}">

<head>
  <title>차량 구매</title>
</head>

<div layout:fragment="content">

  <div class="row mt-3">
    <div class="col">
      <div class="card">
        <div class="card-header">
          Car Info
        </div>
        <div class="card-body">
          <input type="hidden" name="sellingCarId" th:value="${carViewDTO.sellingCarId}">

          <!--            dto 값 출력 부분-->
          <div class="input-group mb-3">
            <span class="input-group-text">CarID</span>
            <input type="text" class="form-control" th:value="${carViewDTO.carId}" readonly>
          </div>

          <div class="input-group mb-3">
            <span class="input-group-text">CarNumber</span>
            <input type="text" class="form-control" th:value="${carViewDTO.carNumber}" readonly>
          </div>

          <div class="input-group mb-3">
            <span class="input-group-text">carGrade</span>
            <input type="text" class="form-control" th:value="${carViewDTO.carGrade}" readonly>
          </div>

          <div class="input-group mb-3">
            <span class="input-group-text">userName(확인용)</span>
            <input type="text" class="form-control" th:value="${carViewDTO.userName}" readonly>
          </div>

          <div class="row mt-3">
            <div class="col">
              <div class="container-fluid d-flex uploadResult" style="flex-wrap:wrap;">
                <th:block th:each="fileName:${carViewDTO.fileNames}">
                  <div class="card col-4">
                    <div class="card-header d-flex justify-content-center">
                      [[${fileName.fileName}]]
                    </div>
                    <div class="card-body">
                      <img th:src="|/view/s_${fileName.uuid}_${fileName.fileName}|" th:data-src="${fileName.uuid}" >
                    </div>
                  </div>
                </th:block>
              </div>
            </div>
          </div>

        </div><!-- <div class="card-body">-->
      </div>
    </div>
  </div>  <!--  <div class="row mt-3">-->

  <div class="row mt-3">

    <div class="col">
      <div class="card">
        <div class="card-header">
          구매 희망 가격
        </div>

        <div class="card-body">

          <div class="input-group mb-3">
            <span class="input-group-text">고객 제안 가격</span>
            <input type="text" class="form-control userProposalPrice" readonly>
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text">최고 제안 가격</span>
            <input type="text" class="form-control highProposalPrice" readonly>
          </div>

          <div class="row mt-3">
            <div class="float-end">
              <button type="button" class="btn btn-primary purchaseOfferBtn" th:btn-type="new">new</button>
            </div>
          </div>

          <div class="row mt-5">
            <h5 class="card-title">가격 제안 List</h5>
          </div>

          <div class="row mt-3">
            <ul class="list-group buyingCarList">
              <!-- 리스트 영역-->
            </ul>
          </div>

          <div class="row mt-3">
            <div class="col">
              <ul class="pagination buyingCarListPaging">
                <!--                 페이징 처리-->
              </ul>
            </div>
          </div>

        </div><!-- <div class="card-body">-->
      </div>
    </div>
  </div>  <!--  <div class="row mt-3">-->

  <!--    구매 요청을 위한 모달창-->
  <div class="modal purchaseOfferModal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header">
          <h5 class="modal-title">구매 요청</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="input-group mb-3">
            <span class="input-group-text">희망 가격</span>
            <input type="text" class="form-control requestPrice" th:value="${#numbers.formatInteger(100000,3,'COMMA')}"
                   th:oninput="|transComma(this);|"
            >
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary sendRegisterBtn">Register</button>
          <button type="button" class="btn btn-outline-dark closeRegisterBtn">Close</button>
        </div>
      </div>
    </div>
  </div>  <!--    purchaseOfferModal-->

  <!--    가격 수정 요청을 위한 모달창-->
  <div class="modal modifyOfferModal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header">
          <h5 class="modal-title">가격 수정 요청</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="input-group mb-3">
            <span class="input-group-text">기존 가격</span>
            <input type="text" class="form-control userCurrentPrice" readonly>
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text">희망 가격</span>
            <input type="text" class="form-control modifyPrice" step='100000' th:value="1000000"
                   th:oninput="|transComma(this);|">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary sendModifyBtn">Modify</button>
          <button type="button" class="btn btn-danger cancelBtn">Cancel</button>
          <button type="button" class="btn btn-outline-dark closeRegisterBtn">Close</button>
        </div>
      </div>
    </div>
  </div>  <!--    modifyOfferModal-->

  <!--    axios 라이브러리 추가-->
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="/js/buyingCar.js"></script>

</div> <!--<div layout:fragment="content">-->


<script layout:fragment="script" th:inline="javascript">

  const carId = [[${carViewDTO.carId}]]
  const carOwner = [[${carViewDTO.userName}]]
  const sellingCarId = [[${carViewDTO.sellingCarId}]]
  const currentUser = [[${#authentication.principal.username}]]

  const purchaseOfferModal = new bootstrap.Modal(document.querySelector(".purchaseOfferModal"))
  const modifyOfferModal = new bootstrap.Modal(document.querySelector(".modifyOfferModal"))

  const requestPrice = document.querySelector(".requestPrice")
  const modifyPrice = document.querySelector(".modifyPrice")
  const buyingCarList = document.querySelector('.buyingCarList')          // 구매 희망 목록 DOM
  const buyingCarListPaging = document.querySelector('.buyingCarListPaging')  // 페이지 목록 DOM

  const userProposalPrice = document.querySelector('.userProposalPrice')  // 접속한 고객이 제안한 가격 DOM
  const highProposalPrice = document.querySelector('.highProposalPrice')  // 가격 제안 중 최고 가격
  const userCurrentPrice = document.querySelector('.userCurrentPrice')    // 접속한 고객이 현재 제안한 가격 DOM
  const purchaseOfferBtn = document.querySelector('.purchaseOfferBtn')

  // 페이지 번호 클릭
  let page = 1
  let size = 5

  printBuyingCarList(page,size)
  printHighProposalPrice()

  function initOfferBtn(data) {

    if(data === 'hidden'){
      purchaseOfferBtn.setAttribute("hidden", true)
    }
    else if(data === 'new'){
      console.log('btn-> new')
      purchaseOfferBtn.innerHTML = 'new'
      purchaseOfferBtn.setAttribute("btn-type", "new")
    }
    else{
      console.log('btn-> modify')
      purchaseOfferBtn.innerHTML = 'modify'
      purchaseOfferBtn.setAttribute("btn-type", "modify")
    }
  }

  function printBuyingCarList(page,size){

    console.log('printBuyingCarList call~~~')

    getList({currentUser, sellingCarId, page, size}).then(data=> {
        printList(data.dtoList) // 목록 처리
        printPages(data)        // 페이지 처리
    }).catch(e=>{
      console.error(e)
    })
  }

  // 금액 + '원'
  function makePriceCurrency(data){
    return data.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") + '원'
  }

  function printHighProposalPrice(){
    getHighProposalPrice(sellingCarId).then(data=> {
      if(data.proposalPrice){
        highProposalPrice.value = makePriceCurrency(data.proposalPrice)
      }

    }).catch(e=>{
      console.error(e)
    })
  }

  const maskingName = (value) => {
    if (value.length === 2) {
      return value.replace(/(?<=.{1})./gi, '*');
    } else if (value.length > 2) {
      return value.replace(/(?<=.{1})./gi, '*');
    } else {
      return value;
    }
  };

  // 목록 출력
  function printList(dtoList){
    let str = '';
    let btnType = 'new'

    if(carOwner === currentUser){ // 해당 차 소유자 일 경우
      btnType = 'hidden'
    }

    if(dtoList && dtoList.length > 0){
      for(const dto of dtoList){

        console.log('proposalPrice~~~')
        let dtoProposalPrice = makePriceCurrency(dto.proposalPrice)

        // 해당 차에 가격 제안을 했다면
        if(Object.is(dto.userName, currentUser)){
            userProposalPrice.value = dtoProposalPrice

            btnType = 'modify'
        }

        str += `<li class="list-group-item d-flex replyItem">
                    <span class="col-2">${dto.userName}</span>
                    <span class="col-2">${maskingName(dto.userName)}</span>
                    <span class="col-2">${dtoProposalPrice}</span>
                    <span class="col-6" data-rno="${dto.userName}">${dto.registerDate}</span>
               </li>`
      }
    }

    initOfferBtn(btnType)

    buyingCarList.innerHTML = str
  }

  // 목록 페이지 출력
  function printPages(data){
    let pageStr = '';

    if(data.prev){
      pageStr += `<li class="page-item"><a class="page-link" data-page="${data.start-1}">PREV</a></li>`
    }
    for(let i = data.start; i <= data.end; i++){
      pageStr += `<li class="page-item ${i == data.page ? "active":""} "><a class="page-link" data-page="${i}">${i}</a></li>`
    }
    if(data.next){
      pageStr += `<li class="page-item"><a class="page-link" data-page="${data.end+1}">NEXT</a></li>`
    }
    buyingCarListPaging.innerHTML = pageStr
  }

  function transComma(e){

    let value = e.value;
    value = Number(value.replaceAll(',', ''));
    if(isNaN(value)) {
      e.value = 0;
    }else {
      const formatValue = value.toLocaleString('ko-KR');
      e.value = formatValue;
    }
  }


  // 구매 제안 버튼 클릭
  document.querySelector(".purchaseOfferBtn").addEventListener("click", function (e){
    e.stopPropagation()
    e.preventDefault()

    const target = e.target
    const offerType = target.getAttribute("btn-type")

    if(offerType === "new"){
      purchaseOfferModal.show()
    }
    else{
      userCurrentPrice.value = userProposalPrice.value.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
      modifyPrice.value = userCurrentPrice.value

      modifyOfferModal.show()
    }

  }, false)

  function sendPurchaseOffer(formObj) {

    purchaseOffer(formObj).then(result => {

      printBuyingCarList(1,10)
      printHighProposalPrice()

      initModalDisplay(formObj)

    }).catch(e => {
      if (e.response && e.response.status === 400) {

        alert('잘못된 요청입니다.. 전달값 확인!!')
        console.log(e.response.data);
      } else {
        console.log(e.response.data);
        alert(e.response.data)
      }

      initModalDisplay(formObj)
    })
  }
  function sendCancelOffer(formObj) {

    cancelOffer(formObj).then(result => {

      printBuyingCarList(1,10)
      printHighProposalPrice()

      initModalDisplay(formObj)

    }).catch(e => {
      if (e.response && e.response.status === 400) {

        alert('잘못된 요청입니다.. 전달값 확인!!')
        console.log(e.response.data);
      } else {
        console.log(e.response.data);
        alert(e.response.data)
      }

      initModalDisplay(formObj)
    })
  }

  function initModalDisplay(formObj) {

    if(formObj.offerType === 'new'){
      requestPrice.value= ''
      purchaseOfferModal.hide()
    }
    else if(formObj.offerType === 'modify'){
      modifyPrice.value= ''
      modifyOfferModal.hide()
    }
    else{   // cancel
      userCurrentPrice.value= ''
      userProposalPrice.value=''

      initOfferBtn('new')

      modifyOfferModal.hide()
    }
  }

  // 모달창의 구매 제안 처리
  document.querySelector(".sendRegisterBtn").addEventListener("click", function(e){

    const formObj = {
      offerType:'new',
      carId:carId,
      requestPrice: requestPrice.value.replaceAll(",","")
    }
    sendPurchaseOffer(formObj)
  }, false)

  // 모달창의 가격 수정 제안 처리
  document.querySelector(".sendModifyBtn").addEventListener("click", function(e){

    console.log(parseInt(modifyPrice.value.replace(",","")))

    if(modifyPrice.value.replaceAll("원","") === userCurrentPrice.value.replaceAll("원","")){
      alert('기존 가격과 같습니다')
      return
    }

    const formObj = {
      offerType:'modify',
      carId:carId,
      requestPrice: modifyPrice.value.replaceAll(",","")
    }
    sendPurchaseOffer(formObj)
  }, false)

  // 모달창의 구매 제안 취소 처리
  document.querySelector(".cancelBtn").addEventListener("click", function(e){

    const formObj = {
      offerType:'cancel',
      carId:carId,
      requestPrice:0
    }
    sendCancelOffer(formObj)
  }, false)

  buyingCarListPaging.addEventListener("click", function(e){

    e.preventDefault()
    e.stopPropagation()

    const target = e.target
    if(!target || target.tagName !== 'A'){
      return
    }
    page = target.getAttribute("data-page")
    printBuyingCarList(page,size)
    printHighProposalPrice()

  },false)

</script>