<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic.html}">

<head>
  <title>판매 차량 정보</title>
</head>

<div layout:fragment="content">

  <div class="row mt-3">
    <div class="col">
      <div class="card">
        <div class="card-header">
          관심 차량 정보
        </div>
        <div class="card-body">
          <input type="hidden" name="sellingCarId" th:value="${carViewDTO.sellingCarId}">

          <!-- dto 값 출력 부분-->
          <div class="input-group mb-3">
            <span class="input-group-text">CarNumber</span>
            <label><input type="text" class="form-control" th:value="${carViewDTO.carNumber}" readonly></label>
          </div>

          <div class="input-group mb-3">
            <span class="input-group-text">carGrade</span>
            <label><input type="text" class="form-control" th:value="${carViewDTO.carGrade}" readonly></label>
          </div>

          <div class="input-group mb-3">
            <span class="input-group-text">userName(확인용)</span>
            <label><input type="text" class="form-control" th:value="${carViewDTO.userName}" readonly></label>
          </div>

          <div class="row mt-3">
            <div class="col">
              <div class="container-fluid d-flex uploadResult" style="flex-wrap:wrap;">
                <th:block th:each="fileName:${carViewDTO.fileNames}">
                  <div class="card col-4">
                    <div class="card-header d-flex justify-content-center">
                      [[${fileName.fileName}]]
                    </div>
                    <div class="card-body">
                      <img th:src="|/view/s_${fileName.uuid}_${fileName.fileName}|" th:data-src="${fileName.uuid}" >
                    </div>
                  </div>
                </th:block>
              </div>
            </div>
          </div>

        </div><!-- <div class="card-body">-->
      </div>
    </div>
  </div>  <!--  <div class="row mt-3">-->

  <div class="row mt-3">

    <div class="col">
      <div class="card">
        <input type="hidden" name="sellType" th:value="${sellType}">

        <div class="card-header">
         상담 현황
        </div>

        <div class="card-body">

            <h5 class="card-title">상담</h5>

        </div><!-- <div class="card-body">-->
      </div>
    </div>
  </div>  <!--  <div class="row mt-3">-->



  <!--    axios 라이브러리 추가-->
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="/js/buyingCar.js"></script>
  <script src="/js/util.js"></script>

</div> <!--<div layout:fragment="content">-->


<script layout:fragment="script" th:inline="javascript">

  const carId = [[${carViewDTO.carId}]]
  const carOwner = [[${carViewDTO.memberId}]]
  const sellingCarId = [[${carViewDTO.sellingCarId}]]
  const currentUser = [[${#authentication.principal.username}]]

  // 페이지 번호 클릭
  let page = 1
  let size = 5



</script>