<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic.html}">

<head>
  <title>차량 내용</title>
</head>

<th:block layout:fragment="css">
  <style>
    .tr {
      text-align: center;
    }

    .mgt-30{
      margin-top:30px;
    }
  </style>
</th:block>

<div layout:fragment="content" style="margin-top:50px;margin-right:25%">

  <div class="d-flex">
    <div class="itemMainImgDiv">
      <img th:src="|/view/${responseDTO.fileNames.get(0).uuid}_${responseDTO.fileNames.get(0).fileName}|"
           class="rounded itemMainImg" th:alt="${responseDTO.carModel}">
    </div>
    <div class="wd50">

      <div class="h4" th:text="|(${responseDTO.carNumber}) ${responseDTO.carModel}|"></div>
      <hr class="my-4">

      <div class="h3 text-primary" > <!-- h3 글자 크기-->
        <span th:text="|${#numbers.formatCurrency(responseDTO.requiredPrice)}원|"></span>
      </div>

      <div class="my-4" th:with="buyCarStatus = ${responseDTO.buyCarStatus ==
                                T(com.example.cih.domain.buyingCar.BuyCarStatus).REQUEST_CONSULT ? 'REQUEST_CONSULT' : ''}">

        <button type="submit" th:if="${buyCarStatus == 'REQUEST_CONSULT'}" class="btn btn-primary requestConsultBtn"
                th:text="|상담 요청 취소|" data-bs-target="requestCancel"></button>
        <button type="submit" th:unless="${buyCarStatus == 'REQUEST_CONSULT'}" class="btn btn-primary requestConsultBtn"
                th:text="|상담 요청|" data-bs-target="requestConsult"></button>
      </div>

      <div class="h4" th:text="${responseDTO.buyCarStatus}"></div>
      <hr class="my-4">

    </div>
  </div><!-- <div class="d-flex">-->

    <div class="wd50">
      <hr class="my-4">
      <hr class="my-4">
      <h4 class="display-5">상세 설명</h4>
      <hr class="my-4">
      <hr class="my-4">
      <hr class="my-4">

      <div th:each="fileName : ${responseDTO.fileNames}" class="text-center">
        <img th:if="${not #strings.isEmpty(fileName.fileName)}"
             th:src="|/view/${fileName.uuid}_${fileName.fileName}|" class="rounded mgb-15" width="800">
      </div>
    </div>



  <!-- 상담 요청 모달창-->
  <div class="modal requestConsultModal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header">
          <h5 class="modal-title">상담 신청</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body modal-body-show">
          <div class="input-group mb-3">
            <span class="input-group-text">휴대 전화</span>
            <input type="text" class="form-control phoneNumber" placeholder="010-0000-0000" value="01012345678">
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger sendRequestBtn">신청</button>
          <button type="button" class="btn btn-outline-dark closeRegisterBtn">취소</button>
        </div>
      </div>
    </div>
  </div>  <!-- 상담 요청 모달창-->

  <!--    axios 라이브러리 추가-->
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="/js/buyingCar.js"></script>

</div> <!--<div layout:fragment="content">-->


<script layout:fragment="script" th:inline="javascript">

  const carId = [[${responseDTO.carId}]]
  const sellingCarId = [[${responseDTO.sellingCarId}]]
  const requestConsultModal = new bootstrap.Modal(document.querySelector(".requestConsultModal"))
  const phoneNumber = document.querySelector(".phoneNumber")



  // 상담 요청 -버튼 클릭
  document.querySelector(".requestConsultBtn").addEventListener("click", function (e){
    e.stopPropagation()
    e.preventDefault()

    const target = e.target
    const offerType = target.getAttribute("data-bs-target")
    console.log("offerType" + offerType)

    if( offerType === 'requestConsult'){
      requestConsultModal.show()
    }
    else{
      if(!confirm("정말로 상담 요청을 취소 하겠습니까?")){
        return
      }
      requestCancel()
    }


  }, false)

  function requestCancel(){

    const formObj = {
      offerType:'requestCancel',
      carId:carId,
    }

    sendRequestCancel(formObj).then(result => {

      alert('상담 요청이 취소 되었습니다')

      // 화면 재 갱신
      self.location = '/sellingCar/view/' +  sellingCarId

    }).catch(e => {
      if (e.response && e.response.status === 400) {

        alert('잘못된 요청입니다.. 전달값 확인!!')
        console.log(e.response.data);
      } else {
        console.log(e.response.data);
        alert(e.response.data)
      }
    }, false)
  }

  // 상담 요청 - 서버로 전송
  document.querySelector(".sendRequestBtn").addEventListener("click", function (e){
    e.stopPropagation()
    e.preventDefault()

    const formObj = {
      offerType:"requestConsult",
      carId:carId,
      phoneNumber:phoneNumber.value
    }

    sendRequestConsult(formObj).then(result => {

      requestConsultModal.hide()

      // 화면 재 갱신
      self.location = '/sellingCar/view/' +  sellingCarId

    }).catch(e => {
      if (e.response && e.response.status === 400) {

        alert('잘못된 요청입니다.. 전달값 확인!!')
        console.log(e.response.data);
      } else {
        console.log(e.response.data);
        alert(e.response.data)
      }
    })

  }, false)




</script>