<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic.html}">

<head>
  <title>SellingCar Info</title>
</head>

<div layout:fragment="content">

  <div class="row mt-3">

    <div class="col">
      <div class="card">
        <div class="card-header">
          판매 차량 리스트
        </div>

        <div class="card-body">

            <form action="/sellingCar/list" method="get" id="f2">

              <!-- 검색 화면 추가 start-->
              <div  class="row mt-3">

                  <div class="col">
                    <input type="hidden" name="size" th:value="${pageRequestDto.size}">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <select class="form-select" name="type">
                          <option value="">-----</option>
                          <option value="m" th:selected="${pageRequestDto.type == 'm'}">모델명</option>
                          <option value="y" th:selected="${pageRequestDto.type == 'y'}">연식</option>
                          <option value="my" th:selected="${pageRequestDto.type == 'my'}">모델명,연식</option>
                        </select>
                      </div>

                      <input type="text" class="form-control" name="keyword" th:value="${pageRequestDto.keyword}">

                      <div class="input-group-append">
                        <button class="btn btn-outline-secondary searchBtn" type="submit">Search</button>
                        <button class="btn btn-outline-secondary clearBtn" type="button">Clear</button>
                      </div>

                    </div>
                  </div>

              </div>
              <!-- 검색 화면 추가 end-->


            <table class="table">
              <thead>
                <tr>
                  <th scope="col">carNumber</th>
                  <th scope="col">carModel</th>
                  <th scope="col">carYears</th>
                  <th scope="col">sellingCarStatus</th>
                  <th scope="col">희망 가격</th>
                  <th scope="col">expiredDate</th>
                </tr>
              </thead>

              <tbody>
                <tr th:each="dto:${responseDTO.dtoList}">
                  <th scope="row">
                    <a th:href="|@{'/sellingCar/view/' + ${dto.carId}}|"
                       class="text-decoration-none"> [[${dto.carNumber}]]</a>

                    <div th:if="${dto.fileNames != null && dto.fileNames.size() > 0}">
                      <img style="width:100px" th:each="fileName: ${dto.fileNames}"
                           th:src="|/view/s_${fileName.uuid}_${fileName.fileName}|">
                    </div>

                  </th>
                  <td>[[${dto.carModel}]]</td>
                  <td>[[${dto.carYears}]]</td>
                  <td>[[${dto.sellingCarStatus}]]</td>
                  <td>[[${dto.requiredPrice}]]</td>
                  <td>[[${ #temporals.format(dto.expiredDate, 'yyyy-MM-dd HH:mm:ss')}]]</td>
                </tr>
                </tbody>
              </table>
            </form>
          <div class="float-end">
            <ul class="pagination flex-wrap">

              <li class="page-item" th:if="${responseDTO.prev}">
                <a class="page-link" th:data-num="${responseDTO.start - 1}">Previous</a>
              </li>

              <th:block th:each="i: ${#numbers.sequence(responseDTO.start, responseDTO.end)}">
                <li th:class="${responseDTO.page == i} ? 'page-item active' : 'page-item' ">
                  <a class="page-link" th:data-num="${i}">[[${i}]]</a>
                </li>
              </th:block>

              <li class="page-item" th:if="${responseDTO.next}">
                <a class="page-link" th:data-num="${responseDTO.end + 1}">Next</a>
              </li>

            </ul>
          </div>

        </div><!-- <div class="card-body">-->
      </div>
    </div>
  </div>

</div> <!--<div layout:fragment="content">-->

<script layout:fragment="script" th:inline="javascript">


  document.querySelector(".pagination").addEventListener("click", function(e){

    e.preventDefault()  // a태그 나 submit태그의 고유 동작을 중단
    e.stopPropagation() // 상위 엘리먼트들로의 이벤트 전파를 중단시킨다.

    const target = e.target   // a 태그

    if(target.tagName !== 'A'){
      return
    }

    const num = target.getAttribute("data-num")
    const formObj = document.querySelector("#f2")

    formObj.innerHTML += `<input type='hidden' name='page' value='${num}'>`
    formObj.submit();

  }, false)

  document.querySelector(".clearBtn").addEventListener("click", function(e){

    e.preventDefault()
    e.stopPropagation()

    self.location = '/sellingCar/list' // 자바스크립트로 다른 url 호출

  },false)


</script>