<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns="http://www.w3.org/1999/html"
      layout:decorate="~{layout/basic.html}">

<head>
  <title>차량 내용</title>
</head>

<th:block layout:fragment="css">
  <style>
    .tr {
      text-align: center;
    }

    .mgt-30{
      margin-top:30px;
    }
  </style>
</th:block>

<div layout:fragment="content" style="margin-top:50px;margin-right:25%">

  <div class="d-flex">
    <div class="itemMainImgDiv">
      <img th:src="|/view/${responseDTO.getMainImage().uuid}_${responseDTO.getMainImage().fileName}|"
           style="width:400px; margin-right: 5rem" class="rounded itemMainImg" th:alt="${responseDTO.carModel}">
    </div>
    <div class="wd50">
      <div class="h4" th:text="|(${responseDTO.carNumber}) ${responseDTO.carModel}|"></div>
      <hr class="my-4">
      <div class="my-4">
        <!--       뷰 횟수-->
        <span><i class="fa-solid fa-eye"></i> [[${responseDTO.viewCount}]]</span>
        <!--      하트 표시-->
        <span id="checkSolid" style="display: inline">
          <i class="fa-solid fa-heart" style="cursor:pointer"
                 th:onclick="javascript:sellingCarLike(false)" th:data-num="${responseDTO.carModel}"></i>
        </span>
        <span id="checkRegular" style="display: none">
          <i class="fa-regular fa-heart" style="cursor:pointer"
                 th:onclick="javascript:sellingCarLike(true)" th:data-num="${responseDTO.sellingCarId}"></i>
        </span>
      </div>

      <div class="h3 text-primary" > <!-- h3 글자 크기-->
        <span th:text="|${#numbers.formatCurrency(responseDTO.requiredPrice)}원|"></span>
      </div>

      <div class="my-4" th:if="${#strings.equals(responseDTO.sellingCarStatusText, '판매 중')}" th:with="buyCarStatus = ${responseDTO.buyCarStatus ==
                                T(com.example.cih.domain.buyingCar.BuyCarStatus).REQUEST_CONSULT ? 'REQUEST_CONSULT' : ''}">

        <button type="submit" th:if="${buyCarStatus == 'REQUEST_CONSULT'}" class="btn btn-primary"
                th:text="|상담 요청 취소|" data-bs-target="requestCancel" th:onclick="requestSellCar(this)"></button>
        <button type="submit" th:unless="${buyCarStatus == 'REQUEST_CONSULT'}" class="btn btn-primary"
                th:text="|상담 요청|" data-bs-target="requestConsult" th:onclick="requestSellCar(this)"></button>
      </div>

      <div class="h4" th:text="${responseDTO.buyCarStatus}"></div>
      <hr class="my-4">

    </div>
  </div><!-- <div class="d-flex">-->

    <div class="wd50">
      <hr class="my-4">
      <hr class="my-4">
      <h4 class="display-5">상세 설명</h4>
      <hr class="my-4">
      <hr class="my-4">
      <hr class="my-4">

      <div th:each="fileName : ${responseDTO.getListExceptMainImage()}" class="text-center">
        <img th:if="${not #strings.isEmpty(fileName.fileName)}"
             th:src="|/view/${fileName.uuid}_${fileName.fileName}|" class="rounded mgb-15" width="800">
      </div>

    </div>



  <!-- 상담 요청 모달창-->
  <div class="modal requestConsultModal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header">
          <h5 class="modal-title">상담 신청</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="input-group mb-3">
            <span class="input-group-text">휴대 전화</span>
            <input type="text" class="form-control phoneNumber" placeholder="010-0000-0000" value="01012345678">
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger sendRequestBtn">신청</button>
          <button type="button" class="btn btn-outline-dark closeRegisterBtn">취소</button>
        </div>
      </div>
    </div>
  </div>  <!-- 상담 요청 모달창-->

  <!--    axios 라이브러리 추가-->
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="/js/sellingCar.js"></script>
  <script src="/js/buyingCar.js"></script>
  <script src="/js/util.js"></script>

</div> <!--<div layout:fragment="content">-->


<script layout:fragment="script" th:inline="javascript">

  const carId = [[${responseDTO.carId}]]
  const sellingCarId = [[${responseDTO.sellingCarId}]]
  const requestConsultModal = new bootstrap.Modal(document.querySelector(".requestConsultModal"))
  const phoneNumber = document.querySelector(".phoneNumber")

  const checkSolid = document.getElementById("checkSolid");
  const checkRegular = document.getElementById("checkRegular");

  // 좋아요 표시 결정
  viewCarLike([[${responseDTO.isLike}]])


  function viewCarLike(isLike){
    if(isLike === true){
      checkSolid.style.display = 'inline'
      checkRegular.style.display = 'none'
    }
    else if(isLike === false){
      checkSolid.style.display = 'none'
      checkRegular.style.display = 'inline'
    }
  }

  // 상담 요청 or 취소 -버튼 클릭
  function requestSellCar(obj){
    const offerType = obj.getAttribute("data-bs-target")

    if( offerType === 'requestConsult'){
      requestConsultModal.show()
    }
    else{
      if(!confirm("정말로 상담 요청을 취소 하겠습니까?")){
        return
      }
      requestCancel()
    }
  }

  function sellingCarLike(isLike){
    const formObj = {
      carId:carId,
      isLike:isLike,
    }

    sendLike(formObj).then(result => {

      viewCarLike(isLike)

    }).catch(e => {
      errorResponse(e)
    })
  }

  function requestCancel(){
    const formObj = {
      offerType:'requestCancel',
      carId:carId,
      sellingCarId:sellingCarId,
    }

    updateOffer(formObj).then(result => {

      alert('상담 요청이 취소 되었습니다')

      // 화면 재 갱신
      self.location = '/sellingCar/view/' +  sellingCarId

    }).catch(e => {
      errorResponse(e)
    })
  }

  // [상담 요청] 전송
  document.querySelector(".sendRequestBtn").addEventListener("click", function (e){
    e.stopPropagation()
    e.preventDefault()

    const formObj = {
      offerType:"requestConsult",
      carId:carId,
      sellingCarId:sellingCarId,
      phoneNumber:phoneNumber.value
    }

    createOffer(formObj).then(result => {

      requestConsultModal.hide()

      // 화면 재 갱신
      self.location = '/sellingCar/view/' +  sellingCarId

    }).catch(e => {
      errorResponse(e)
    })

  }, false)


</script>