<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic.html}">

<div layout:fragment="content">

    <div class="row mt-3">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <!--          HTML 테그의 속성이 아니라 HTML 콘텐츠 영역안에서 직접 데이터를 출력하고 싶으면 다음과 같이 [[...]] 를 사용하면 됩니다.-->
<!--                    [[${pageRequestDto.size}]]-->
                </div>
                <div class="card-body">
                    <h5 class="card-title">장바구니</h5>

                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">선택</th>
                            <th scope="col">상품 이름</th>
                            <th scope="col">가격</th>
                            <th scope="col">주문 수량</th>
                            <th scope="col">옵션</th>
                        </tr>
                        </thead>

                        <tbody >
                        <tr id="tableOrderList" th:each="dto, stat :${responseDTO}">
                            <th scope="col">
                                <input type="checkbox" class="checkbox" th:name="p_selected+${stat.index}" id="scales" checked />
                            </th>
                            <td><a th:href="|@{'/admin/eventDetail/' + ${dto.cartId}}|"
                                    class="text-decoration-none"> [[${dto.itemName}]]</a>
                            </td>
                            <td><input type="text" th:name="p_price+${stat.index}"  id="p_price" size="2" maxlength="4"
                                       class="p_price" th:value="${dto.itemPrice}">
                            </td>
                            <td><div class="updownCount">
                                    <span><i class="fas fa-arrow-alt-circle-up up" th:data-num="${dto.cartId}"></i></span>
                                    <input type="text" th:name="p_itemCount+${stat.index}"  id="p_itemCount" size="2" maxlength="4"
                                           class="itemCount" th:value="${dto.itemCount}">
                                    <span><i class="fas fa-arrow-alt-circle-down down"></i></span>
                                </div>
                            </td>
                            <td>[[${dto.option1}]]
                            </td>
                            <td><input type="hidden" th:name="p_itemId+${stat.index}" th:value="${dto.shopItemId}">
                            </td>
                            <td><input type="hidden" th:name="p_cartId+${stat.index}" th:value="${dto.cartId}">
                            </td>
                            <td><button class="btn-sm btn-danger" th:onclick="removeCart([[${dto.cartId}]], this)" >X</button>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                    <div class="my-4">
                        <div class="float-end">
                            <div class="input-group mb-3">
                                <span class="input-group-text">상품 금액</span>
                                <label>
                                    <input type="text" class="form-control orderPrice"  readonly>
                                </label>
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text">배송비</span>
                                <label>
                                    <input type="text" class="form-control deliveryFee" readonly>
                                </label>
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text">상품 할인</span>
                                <label>
                                    <input type="text" class="form-control discountPrice" readonly>
                                </label>
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text">결제 예정 금액</span>
                                <label>
                                    <input type="text" class="form-control expectedPrice" readonly>
                                </label>
                            </div>

                           <button type="button" class="btn btn-primary submitBtn">주문 하기</button>

                        </div>
                    </div>

                </div><!-- <div class="card-body">-->
            </div>
        </div>
    </div>

    <!--    axios 라이브러리 추가-->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/js/cart.js"></script>
</div>

<script layout:fragment="script" th:inline="javascript">

    // 페이지 번호 클릭
    let page = 1
    let size = 5

    const currentUser = [[${#authentication.principal.username}]]

    const orderPrice = document.querySelector(".orderPrice")
    const expectedPrice = document.querySelector(".expectedPrice")
    const deliveryFee = document.querySelector(".deliveryFee")

    // 결제 금액 계산 호출
    reCalculation()





    // 상품 선택 변경 ( checkbox )
    document.querySelectorAll(".checkbox").forEach(function (item,idx){
        item.addEventListener('change', function(){
            // 결제 금액 재 계산
            reCalculation()
        });
    }, false)

    // 상품 갯수 수동 변경
    document.querySelectorAll(".itemCount").forEach(function (item,idx){
        item.addEventListener('change', function(){

            var inputTag = document.querySelector('input[name=p_itemCount'+idx+']');
            var p_count = inputTag.value;

            // console.log("moveUp : " + item + ",  " + idx)
            // console.log("p_num : " + p_count )
            inputTag.setAttribute('value', p_count )
            inputTag.value = p_count

            // 결제 금액 재 계산
            reCalculation()
        });
    }, false)

    // 주문 수량 갯수 변경 ( up, down button )
    document.querySelectorAll(".updownCount").forEach(function (item,idx){
        // 갯수 증가
        item.children[0].addEventListener('click', function(){
            changeItemCount(idx, -1);
        });
        // 갯수 감소
        item.children[2].addEventListener('click', function(){
            changeItemCount(idx, 1);
        });

    }, false)

    document.querySelector(".submitBtn").addEventListener("click", function(e){
        e.preventDefault()
        e.stopPropagation()

        let totalPrice = 0;
        let arrayItemInfo = [];
        document.querySelectorAll("#tableOrderList").forEach(function (item,idx){

            const selectedTag = document.querySelector('input[name=p_selected'+idx+']');
            var itemPriceTag = document.querySelector('input[name=p_price'+idx+']');
            const itemCountTag = document.querySelector('input[name=p_itemCount'+idx+']');
            const itemIdTag = document.querySelector('input[name=p_itemId'+idx+']');
            const cartIdTag = document.querySelector('input[name=p_cartId'+idx+']');

            const selected = selectedTag.checked
            if( selected === true){
                var itemPrice = parseInt(itemPriceTag.getAttribute('value'));
                var itemCount = parseInt(itemCountTag.getAttribute('value'));
                var itemId = parseInt(itemIdTag.getAttribute('value'));
                var cartId = parseInt(cartIdTag.getAttribute('value'));

                totalPrice += itemPrice * itemCount;
                console.log(idx + "-> itemPrice : " + itemPrice + ", itemCount : " + itemCount + ", itemId : " + itemId)

                let itemInfo = {
                    itemId: itemId,
                    cartId: cartId,
                    itemCount: itemCount,
                    itemPrice: itemPrice,
                };
                arrayItemInfo.push(itemInfo);
            }
        }, false)

        let formObj = {
            deliveryFee: deliveryFee.value,
            totalPrice: totalPrice,
            listOrderDetail: arrayItemInfo
        }

        ////////////////////////////////////////////////////
        addOrderItem(formObj).then(result => {
            //console.log(result)

            alert("정상적으로 주문 되었습니다")

            // 주문 페이지 로 이동
            self.location = '/order/list?userName=' + [[${#authentication.principal.username}]]

        }).catch(e => {
            console.log(e)
        })
    }, false)

    // 결제 금액 다시 계산
    function reCalculation(){

        var totalPrice = 0;
        document.querySelectorAll("#tableOrderList").forEach(function (item,idx){

            var selectedTag = document.querySelector('input[name=p_selected'+idx+']');
            var itemPriceTag = document.querySelector('input[name=p_price'+idx+']');
            var itemCountTag = document.querySelector('input[name=p_itemCount'+idx+']');

            var selected = selectedTag.checked
            if( selected === true){
                var itemPrice = parseInt(itemPriceTag.getAttribute('value'));
                var itemCount = parseInt(itemCountTag.getAttribute('value'));

                totalPrice += itemPrice * itemCount;
                // console.log("reCalculation : " + item + ",  " + idx + ", totalPrice : " + totalPrice + ", selected : " + selected)
            }
        }, false)

        orderPrice.value = totalPrice

        // 배송비 계산
        const deliveryPrice = (totalPrice > 15000) ? 0 : 2500
        deliveryFee.value = deliveryPrice

        // 결제 예정 금액 다시 계산 해야 함
        expectedPrice.value = totalPrice + deliveryPrice
    }

    function changeItemCount(idx, value){
        var inputTag = document.querySelector('input[name=p_itemCount'+idx+']');
        var p_count = parseInt(inputTag.getAttribute('value'));

        // console.log("moveUp : " + item + ",  " + idx)
        // console.log("p_num : " + p_num )
        inputTag.setAttribute('value', p_count + value )
        inputTag.value = p_count + value

        // 결제 금액 재 계산
        reCalculation()
    }

    // 상품 선택 삭제
    function removeCart(cartId, obj){
        if(!confirm("해당 항목을 정말 삭제 하겠습니까??")){
            return
        }

        removeCartItem(cartId).then(result=>{
            alert(result.cartId + '상품이 삭제 되었습니다')

            // 장바구니 페이지 다시 로딩
            self.location = '/cart/list'

        }).catch(e=>{
            console.log(e)
        })
    }




    // removeBtn.addEventListener("click", function(e) {
    //     const cartId = cartIdText.value
    //
    //     removeCartItem(cartId).then(result=>{
    //         alert(result.cartId + '상품이 삭제 되었습니다')
    //
    //         cartIdText.value = ''
    //         modifyModal.hide()
    //
    //         printCartList(1,5,true)
    //     }).catch(e=>{
    //         console.log(e)
    //     })
    // },false)


    // clear 버튼 클릭 이벤트 begin ------------------
    // document.querySelector(".clearBtn").addEventListener("click", function(e){
    //
    //     console.log("clearBtn.click()~~~~")
    //
    //     e.preventDefault()
    //     e.stopPropagation()
    //
    //     self.location = '/dashBoard/carList'
    // },false)
    // clear 버튼 클릭 이벤트 end ------------------



</script>
