<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic.html}">

<th:block layout:fragment="css">
    <style>
        /*.my_btn {*/
        /*    background-color: blue;*/
        /*    color: white;*/
        /*    border: none;*/
        /*    width: 70px;*/
        /*    height: 35px;*/
        /*    padding: 10px 30px;*/
        /*}*/
    </style>
</th:block>

<div layout:fragment="content">

    <div class="row mt-3">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <!--          HTML 테그의 속성이 아니라 HTML 콘텐츠 영역안에서 직접 데이터를 출력하고 싶으면 다음과 같이 [[...]] 를 사용하면 됩니다.-->
<!--                    [[${pageRequestDto.size}]]-->
                </div>
                <div class="card-body">
                    <h5 class="card-title">내 장바구니</h5>

                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">선택</th>
                                <th scope="col">상품 이름</th>
                                <th scope="col">가격</th>
                                <th scope="col">할인 가격</th>
                                <th scope="col">주문 수량</th>
                                <th scope="col">옵션</th>
                            </tr>
                        </thead>

                        <tbody >
                        <tr id="tableOrderList" th:each="dto, stat :${responseDTO}">
                            <th scope="col">
                                <input type="checkbox" class="checkbox" th:name="p_selected+${stat.index}" id="scales" checked />
                            </th>
                            <td><a th:href="|@{'/shop/itemDetail/' + ${dto.shopItemId}}|"
                                    class="text-decoration-none"> [[${dto.itemName}]]</a>
                                <!-- 이미지 출력-->
                                <img th:src="|/view/s_${dto.getMainImage().uuid}_${dto.getMainImage().fileName}|" style="width:100px"
                                     class="rounded itemMainImg">
                            </td>
                            <td><input type="hidden" th:name="p_price+${stat.index}" id="p_price" class="p_price" th:value="${dto.itemPrice}">
                                [[${#numbers.formatInteger(dto.itemPrice,3,'COMMA')}]]
                            </td>
                            <td><input type="hidden" th:name="p_discountPrice+${stat.index}" id="p_discountPrice" class="p_discountPrice" th:value="${dto.discountPrice}">
                                [[${#numbers.formatInteger(dto.discountPrice,3,'COMMA')}]]
                            </td>

                            <td><div class="upDownCount">
                                    <span><i class="fas fa-arrow-alt-circle-down down" style="cursor:pointer"></i></span>
                                    <input type="text" th:name="p_itemCount+${stat.index}"  id="p_itemCount" size="2" maxlength="4"
                                           class="itemCount" th:value="${dto.itemCount}">
                                    <span><i class="fas fa-arrow-alt-circle-up up" style="cursor:pointer"></i></span>
                                </div>
                            </td>
                            <td><input type="hidden" th:name="p_ItemOptionIds+${stat.index}" th:value="${dto.getOptionIds()}">
                                [[${dto.getOptionDesc()}]]
                            </td>

                            <td><input type="hidden" th:name="p_itemId+${stat.index}" th:value="${dto.shopItemId}"></td>
                            <td><input type="hidden" th:name="p_cartId+${stat.index}" th:value="${dto.cartId}"></td>
                            <td><input type="hidden" th:name="p_isFreeDelivery+${stat.index}" th:value="${dto.isFreeDelivery}"></td>

                            <td><button class="btn-sm btn-danger" th:onclick="removeCart([[${dto.cartId}]], this)" >X</button>
                            </td>
                        </tr>
                        </tbody>
                    </table>

<!--                    ////////////////////////////////////////////////////////////////////////-->
                    <div class="card mb-3" style="max-width: 1040px;">
                        <div class="row g-0">

                            <div class="col-md-4">
                                <div class="card-body">
                                    <div class="input-group mb-3">
                                        <span class="input-group-text">배송지 정보</span>
                                    </div>

                                    <input type="hidden" id="userAddressBookId" class="form-control"
                                           th:value="${mainAddressInfo != null ? mainAddressInfo.userAddressBookId : 0}">

                                    <div class="input-group mb-3">
                                        <div class="h4 text-danger">
                                            <span id="deliveryName" th:text="${mainAddressInfo != null ? mainAddressInfo.deliveryName : ''}"></span>
                                            &nbsp;
                                            <button type="button" class="btn btn-success btn-sm"
                                                    th:onclick="selectAddress()" >변경</button>
                                            <button type="button" class="btn btn-primary btn-sm"
                                                    th:onclick="showDeliveryAddress()">추가</button>
                                        </div>
                                    </div>
                                    <div id="recipientName" th:text="|${mainAddressInfo != null ? '(' + mainAddressInfo.recipientName + ') ' + mainAddressInfo.recipientPhoneNumber : ''}|"></div>
                                    <div id="fullAddress" th:text="|${mainAddressInfo != null ? mainAddressInfo.fullAddress : ''}|"></div>
                                </div><!-- <div class="card-body">-->

                                <div class="card-body">
                                    <div class="input-group mb-3">
                                        <span class="input-group-text">보유 포인트</span>
                                        <input type="text" class="form-control" id="totalMPoint" th:value="${mPoint > 0 ? #numbers.formatInteger(mPoint,3,'COMMA') : 0}" readonly>
                                    </div>
                                    <div class="input-group mb-3">
                                        <input type="text" class="form-control" id="useMPoint" th:value="0" th:placeholder="사용">
                                        <button type="button" class="btn btn-success btn-sm" th:onclick="useAllPoint()" >전액 사용</button>
                                    </div>
                                </div>

                            </div><!-- <div class="col-md-4">-->

                            <div class="col-md-8">
                                <div class="card-body">

                                    <div class="my-4">
                                        <div class="float-end">
                                            <div class="input-group mb-3">
                                                <span class="input-group-text">상품 금액</span>
                                                <label>
                                                    <input type="text" class="form-control" id="orderPrice" readonly>
                                                </label>
                                            </div>
                                            <div class="input-group mb-3">
                                                <span class="input-group-text">배송비</span>
                                                <label>
                                                    <input type="text" class="form-control" id="deliveryFee" readonly>
                                                </label>
                                            </div>
                                            <div class="input-group mb-3">
                                                <span class="input-group-text">상품 할인</span>
                                                <label>
                                                    <input type="text" class="form-control" id="discountPrice" readonly>
                                                </label>
                                            </div>
                                            <div class="input-group mb-3">
                                                <span class="input-group-text">결제 예정 금액</span>
                                                <label>
                                                    <input type="text" class="form-control" id="expectedPrice" readonly>
                                                </label>
                                            </div>

                                            <button type="button" class="btn btn-primary submitBtn">주문 하기</button>

                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
<!--                    //////////////////////////////////////////-->


                </div><!-- <div class="card-body">-->
            </div>
        </div>
    </div>

    <!-- 배송지 리스트 모달창-->
    <div class="modal addressListModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title">배송지 변경</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <div class="row mt-3">
                        <table>
                            <thead>
                            <tr>
                            </tr>
                            </thead>
                            <tbody id="tableAddressList">
                            </tbody>
                        </table>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary modalSelectBtn">선택</button>
                    <button type="button" class="btn btn-outline-dark modalAddressListCloseBtn">Close</button>
                </div>
            </div>
        </div>
    </div> <!-- 배송지 리스트 모달창-->


    <!-- 주소록 등록을 위한 모달창-->
    <div class="modal addressRegisterModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <input type="hidden" class="form-control" id="modalType">
                    <h5 class="modal-title" id="modalTitle"></h5>
                    <button type="button" class="btn-close closeModalBtn" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="input-group mb-3">
                        <span class="input-group-text">배송지명</span>
                        <input type="text" id="modalDeliveryName" th:value="회사1">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">받는 분</span>
                        <input type="text" id="modalRecipientName" th:value="홍길동">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">연락처</span>
                        <input type="tel" id="modalRecipientPhoneNumber" th:value="010-1223-9384">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">우편번호</span>
                        <input type="text" id="modalZipcode" th:value="|123-345|">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">국가</span>
                        <input type="text" id="modalCountry" size=40 maxlength=38 th:value="|대한민국|">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">도시명</span>
                        <input type="text" id="modalCityName" size=40 maxlength=38 th:value="|부천시|">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">주소</span>
                        <input type="text" id="modalStreet" size=40 maxlength=38 th:value="|수도로123번길44|">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">상세주소</span>
                        <input type="text" id="modalDetailAddress" size=40 maxlength=38 th:value="|101동405호|">
                    </div>

                    <div class="input-group mb-3">
                        <span class="input-group-text">배송 요청사항</span>
                        <input type="text" id="modalDeliveryRequest" size=40 maxlength=38 th:value="|배송 요청사항!!|">
                    </div>

                    <div class="input-group mb-3">
                        <input type="hidden" id="modalMainAddressCheck" class="form-control">
                        <!-- 체크 표시-->
                        <span id="checkSolid" style="display: inline">
                          <i class="fa-solid fa-circle-check"  style="cursor:pointer" th:onclick="javascript:checkMain(false)"></i>
                        </span>
                        <span id="checkRegular" style="display: none">
                          <i class="fa-regular fa-circle-check"  style="cursor:pointer" th:onclick="javascript:checkMain(true)"></i>
                        </span>
                        <span th:text="| 기본 배송지로 설정|"></span>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary sendAddressRegBtn">배송지 추가</button>
                    <button type="button" class="btn btn-outline-dark closeModalBtn">Close</button>
                </div>
            </div>
        </div>
    </div> <!-- 주소록 등록을 위한 모달창-->

    <!--    axios 라이브러리 추가-->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/js/cart.js"></script>
    <script src="/js/order.js"></script>
    <script src="/js/myInfo.js"></script>
    <script src="/js/util.js"></script>
    <script src="/js/utilViewHtml.js"></script>
    <script src="/js/utilEventHandler.js"></script>
</div>

<script layout:fragment="script" th:inline="javascript">

    const addressListModal = new bootstrap.Modal(document.querySelector('.addressListModal'))
    const addressRegisterModal = new bootstrap.Modal(document.querySelector('.addressRegisterModal'))

    const tableAddressList = document.getElementById('tableAddressList');

    const orderPrice = document.getElementById('orderPrice');
    const expectedPrice = document.getElementById('expectedPrice')
    const discountPrice = document.getElementById('discountPrice')
    const deliveryFee = document.getElementById('deliveryFee')

    const deliveryName = document.getElementById('deliveryName')
    const recipientName = document.getElementById('recipientName')
    const fullAddress = document.getElementById('fullAddress')
    const userAddressBookId = document.getElementById('userAddressBookId')
    const totalMPoint = document.getElementById('totalMPoint')
    const useMPoint = document.getElementById('useMPoint')

    const modalDeliveryName = document.querySelector('#modalDeliveryName')
    const modalRecipientName = document.querySelector('#modalRecipientName')
    const modalRecipientPhoneNumber = document.querySelector('#modalRecipientPhoneNumber')
    const modalZipcode = document.querySelector('#modalZipcode')
    const modalCountry = document.querySelector('#modalCountry')
    const modalCityName = document.querySelector('#modalCityName')
    const modalStreet = document.querySelector('#modalStreet')
    const modalDetailAddress = document.querySelector('#modalDetailAddress')
    const modalDeliveryRequest = document.querySelector('#modalDeliveryRequest')
    const modalMainAddressCheck = document.querySelector('#modalMainAddressCheck')
    const modalTitle = document.querySelector('#modalTitle')
    const modalType = document.querySelector('#modalType')

    const currentUser = [[${#authentication.principal.username}]]

    // 최초 페이지 로딩
    pageInit()

    // 결제 금액 계산 호출
    reCalculation()


    // 상품 선택 변경 ( checkbox )
    document.querySelectorAll(".checkbox").forEach(function (item){
        item.addEventListener('change', function(){
            // 결제 금액 재 계산
            reCalculation()
        })
    }, false)

    // 주문 수량 변경1 ( 텍스트박스 수동 입력 )
    document.querySelectorAll(".itemCount").forEach(function (item,idx){
        item.addEventListener('change', function(){

            const inputTag = document.querySelector('input[name=p_itemCount'+idx+']')
            const p_count = inputTag.value;

            if(p_count >= 0){
                inputTag.setAttribute('value', p_count )
                inputTag.value = p_count
            }
            else{
                inputTag.setAttribute('value', '0' )
                inputTag.value = 0
            }
            // 결제 금액 재 계산
            reCalculation()
        });
    }, false)

    // 주문 수량 변경2 ( up, down button )
    document.querySelectorAll(".upDownCount").forEach(function (item,idx){
        // 갯수 차감
        item.children[0].addEventListener('click', function(){
            changeItemCount(idx, -1)
        })
        // 갯수 증가
        item.children[2].addEventListener('click', function(){
            changeItemCount(idx, 1)
        })
    }, false)

    // 주문 수량 변경
    function changeItemCount(idx, value){
        const inputTag = document.querySelector('input[name=p_itemCount'+idx+']')
        const p_count = parseInt(inputTag.getAttribute('value'))
        const changeCount = p_count + value

        if( changeCount >= 0 ){
            inputTag.setAttribute('value', changeCount )
            inputTag.value = changeCount

            // 결제 금액 재 계산
            reCalculation()
        }
    }

    // 주문 하기
    document.querySelector(".submitBtn").addEventListener("click", function(e){
        e.preventDefault()
        e.stopPropagation()

        let totalPrice = 0
        let totalDiscountPrice = 0
        let totalPaymentPrice = 0
        let arrayItemInfo = []
        document.querySelectorAll("#tableOrderList").forEach(function (item,idx){

            const selectedTag = document.querySelector('input[name=p_selected'+idx+']')
            const itemPriceTag = document.querySelector('input[name=p_price'+idx+']')
            const discountPriceTag = document.querySelector('input[name=p_discountPrice'+idx+']')
            const itemCountTag = document.querySelector('input[name=p_itemCount'+idx+']')
            const itemIdTag = document.querySelector('input[name=p_itemId'+idx+']')
            const ItemOptionIdsTag = document.querySelector('input[name=p_ItemOptionIds'+idx)
            const cartIdTag = document.querySelector('input[name=p_cartId'+idx+']')

            if( selectedTag.checked === true){
                const itemPrice = parseInt(itemPriceTag.getAttribute('value').replaceAll(",",""))
                const discountPrice = parseInt(discountPriceTag.getAttribute('value').replaceAll(",",""))
                const itemCount = parseInt(itemCountTag.getAttribute('value'))
                const itemId = parseInt(itemIdTag.getAttribute('value'))
                const ItemOptionIds = ItemOptionIdsTag.getAttribute('value')
                const cartId = parseInt(cartIdTag.getAttribute('value'))

                totalPrice += itemPrice * itemCount                 // 상품 원래 가격 * 구매 갯수
                totalDiscountPrice += discountPrice * itemCount     // 할인 가격 * 구매 갯수

                const itemInfo = {
                    itemId: itemId,
                    cartId: cartId,
                    itemCount: itemCount,
                    itemPrice: itemPrice,
                    discountPrice: discountPrice,
                    itemOptionIds: ItemOptionIds,
                };
                arrayItemInfo.push(itemInfo)
            }
        }, false)

        // 총 결제 금액 = 제품별 구매 금액 + 배송비 - 사용 포인트
        totalPaymentPrice += (totalPrice - totalDiscountPrice)
        totalPaymentPrice += parseInt(deliveryFee.value.replaceAll(",",""))
        totalPaymentPrice -= parseInt(useMPoint.value.replaceAll(",",""))

        if(arrayItemInfo.length === 0){
            alert("상품을 선택하세요~!!!")
            return
        }

        if(userAddressBookId.value === '0' ){
            alert("배송지를 입력하세요~!!!")
            return
        }

        const formObj = {
            deliveryFee: deliveryFee.value.replaceAll(",",""),
            userAddressBookId: userAddressBookId.value,
            totalPrice: totalPrice,
            totalDiscountPrice: totalDiscountPrice,
            totalPaymentPrice: totalPaymentPrice,
            useMPoint : useMPoint.value.replaceAll(",",""),
            listOrderDetail: arrayItemInfo
        }

        ////////////////////////////////////////////////////
        addOrderItem(formObj).then(result => {
            alert("정상적으로 주문 되었습니다")

            // 주문 페이지 로 이동
            self.location = '/order/list'

        }).catch(e => {
            console.log(e)
        })
    }, false)

    // 결제 금액 다시 계산
    function reCalculation(){

        let totalOriginalPrice = 0
        let totalDiscountPrice = 0
        let totalPrice = 0
        let freeDelivery = false

        document.querySelectorAll("#tableOrderList").forEach(function (item,idx){

            const selectedTag = document.querySelector('input[name=p_selected'+idx+']')
            const itemPriceTag = document.querySelector('input[name=p_price'+idx+']')
            const discountPriceTag = document.querySelector('input[name=p_discountPrice'+idx+']')
            const itemCountTag = document.querySelector('input[name=p_itemCount'+idx+']')
            const isFreeDeliveryTag = document.querySelector('input[name=p_isFreeDelivery'+idx+']')

            if(selectedTag.checked){
                const itemPrice = parseInt(itemPriceTag.getAttribute('value').replaceAll(",",""))
                const discountPrice = parseInt(discountPriceTag.getAttribute('value').replaceAll(",",""))
                const itemCount = parseInt(itemCountTag.getAttribute('value'))
                const isFreeDelivery = parseInt(isFreeDeliveryTag.getAttribute('value'))

                if(isFreeDelivery){
                    freeDelivery = true
                }
                totalOriginalPrice += itemPrice * itemCount
                totalDiscountPrice += discountPrice * itemCount
                totalPrice += (itemPrice - discountPrice) * itemCount
            }
        }, false)

        // 배송비 계산
        const deliveryPrice = (freeDelivery === true || totalPrice === 0 || totalPrice > 15000) ? 0 : 2500

        orderPrice.value = totalOriginalPrice.toLocaleString('ko-KR')
        deliveryFee.value = deliveryPrice.toLocaleString('ko-KR')
        discountPrice.value = totalDiscountPrice.toLocaleString('ko-KR')
        expectedPrice.value = (totalPrice + deliveryPrice - useMPoint.value.replaceAll(",","")).toLocaleString('ko-KR')
    }

    // 상품 삭제
    function removeCart(cartId, obj){
        if(!confirm("해당 상품을 정말 삭제 하겠습니까??")){
            return
        }

        removeCartItem(cartId).then(result=>{
            alert('선택한 상품이 삭제 되었습니다!')

            // 장바구니 페이지 다시 로딩
            self.location = '/cart/list'
        }).catch(e=>{
            console.log(e)
        })
    }

    // [모달창] 선택된 배송지 정보 요청
    function getAddressInfo(addressBookId) {
        const formObj = {
            userAddressBookId:addressBookId,
        }

        getDeliveryAddress(formObj).then(result => {
            deliveryName.innerHTML = result.deliveryName
            recipientName.innerHTML = "(" + result.recipientName + ") " + result.recipientPhoneNumber
            fullAddress.innerHTML = result.fullAddress
            userAddressBookId.value = addressBookId

        }).catch(e => {
            errorResponse(e)
            updateModal.hide()
        })
    }

    // [모달창] 배송지 추가 요청
    document.querySelector(".sendAddressRegBtn").addEventListener("click", function(e){

        const formObj = {
            deliveryName:modalDeliveryName.value,
            recipientName:modalRecipientName.value,
            recipientPhoneNumber:modalRecipientPhoneNumber.value,
            zipcode:modalZipcode.value,
            country:modalCountry.value,
            cityName:modalCityName.value,
            street:modalStreet.value,
            detailAddress:modalDetailAddress.value,
            deliveryRequest:modalDeliveryRequest.value,
            mainAddressCheck:JSON.parse(modalMainAddressCheck.value),
            callType:'register'
        }

        sendDeliveryAddress(formObj).then(result => {

            addressRegisterModal.hide()

            if(result.result === 'fail'){
                alert(result.message)
                //initModalForm()
                return
            }

            // 배송지 선택 모달 창 오픈
            selectAddress()

        }).catch(e => {
            errorResponse(e)
            addressRegisterModal.hide()
        })
    }, false)

    // 모달 창 값 초기화
    function initModalData(obj){
        console.log('cartList.html - initModalData()!!!!')

        addressRegisterModal.hide()
    }

</script>
