<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic.html}">

<head>
    <title>차량 관리 앱</title>
</head>

<div layout:fragment="content">

    <div class="row mt-3">

        <div class="col">
            <div class="card">
                <div class="card-header">
                    메인 페이지
                </div>

                <div class="card-body">
                    <span class="col-2">[[${session.greeting}]]</span>

                    <div class="row mt-3 text-info" >
                        <hr class="my-4">
                        <h3>추천 차량</h3>

                        <div class="my-4">
                            <button type="submit" class="btn btn-primary submitBtn">갱신</button>
                        </div>
                        <div class="row RecommendCarList">

                        </div>
                    </div>

                    <div class="row mt-3 text-warning" >
                        <hr class="my-4">
                        <h3>최근 본 차량</h3>

                        <div class="row RecentlySeenCarList">

                        </div>
                    </div>

                </div><!-- <div class="card-body">-->
            </div>
        </div>
    </div>

    <!--    이벤트 알림 모달창-->
    <div class="modal eventModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title">이벤트~</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div th:if="${eventDTO != null}">
                    <div class="modal-body" th:with="notiId = ${eventDTO.notiId}">
                        <label>
                            <input type="text" class="form-control eventTitle" readonly>
                        </label>
                        <br>
                        <a th:href="|@{'/notification/show/event/' + ${notiId}}|" class="text-decoration-none">
                            <button type="button" class="btn btn-primary">자세히 보기</button>
                        </a>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-dark closeEventBtn">Close</button>
                </div>
            </div>
        </div>
    </div>  <!--    modifyOfferModal-->

    <!--    axios 라이브러리 추가-->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/js/sellingCar.js"></script>
    <script src="/js/event.js"></script>
    <script src="/js/util.js"></script>

</div> <!--<div layout:fragment="content">-->

<script layout:fragment="script" th:inline="javascript">

   const eventModal = new bootstrap.Modal(document.querySelector(".eventModal"))
   const RecommendCarList = document.querySelector('.RecommendCarList')          // 추천 차량 목록 DOM
   const RecentlySeenCarList = document.querySelector('.RecentlySeenCarList')    // 최근 본 차량 목록 DOM
   const eventTitle = document.querySelector(".eventTitle")

   // 페이지 번호 클릭
   let page = 1
   let size = 5

   const greeting = [[${session.greeting}]]
   console.log("session.greeting : " +  greeting)


   printMainView()

   const eventDTO = [[${eventDTO}]]
   if(eventDTO != null && eventDTO.notiId > 0){
       // get Event Data??
       eventTitle.value = eventDTO.title
       eventModal.show()
   }

    function printMainView(page,size){

       // 추천 차 정보 요청
        getRecommendSellingCar({page, size}).then(data=> {
            printList(data, RecommendCarList) // 목록 처리

        }).catch(e=>{
            console.error(e)
        })
        // 최근 본 차 정보 요청
        getRecentlySeenSellingCar({page, size}).then(data=> {
            printList(data, RecentlySeenCarList) // 목록 처리

        }).catch(e=>{
            console.error(e)
        })
    }

   function printList(dtoList, form){

       let str = '';
       if(dtoList && dtoList.length > 0){
           for(const dto of dtoList){
               const requiredPrice = makePriceCurrency(dto.requiredPrice)

               str += `<div class="col-md-4 margin">
                            <div class="card">
                                <a href="/sellingCar/view/${dto.sellingCarId}" class="text-decoration-none">
                                    <img src="/view/${dto.mainImage.uuid}_${dto.mainImage.fileName}" width="200" >
                                     <div class="card-body">
                                      <h4 class="card-title">${dto.carModel}</h4>
                                      <h3 class="card-title text-danger">${requiredPrice}</h3>
                                    </div>
                                </a>
                            </div>
                        </div>`
           }
       }
       form.innerHTML = str
   }

   // 갱신 버튼 클릭
   document.querySelector(".submitBtn").addEventListener("click", function(e){
       e.preventDefault()
       e.stopPropagation()

       printMainView()

   }, false)


</script>