<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic.html}">

<head>
    <title>차량 관리 앱</title>
</head>

<div layout:fragment="content">

    <div class="row mt-3">

        <div class="col">
            <div class="card">
                <div class="card-header">
                    리스트
                </div>

                <div class="card-body">



                </div><!-- <div class="card-body">-->
            </div>
        </div>
    </div>

</div> <!--<div layout:fragment="content">-->

<script layout:fragment="script" th:inline="javascript">





</script>