<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic.html}">

<head>
    <title>차량 관리 앱</title>
</head>

<div layout:fragment="content">

    <div class="row mt-3">

        <div class="col">
            <div class="card">
                <div class="card-header">
                    메인 페이지
                </div>

                <div class="card-body">
                    <span class="col-2">[[${session.greeting}]]</span>

                    <div class="row mt-3">
                        <ul class="list-group tempList">
                            <!-- 리스트 영역-->
                        </ul>
                    </div>


                </div><!-- <div class="card-body">-->
            </div>
        </div>
    </div>

    <!--    이벤트 알림 모달창-->
    <div class="modal eventModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title">이벤트~</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div th:if="${eventDTO != null}">
                    <div class="modal-body" th:with="notiId = ${eventDTO.notiId}">

                        <label>
                            <input type="text" class="form-control eventTitle" readonly>
                        </label>
                        <br>

                        <a th:href="|@{'/notification/show/event/' + ${notiId}}|" class="text-decoration-none">
                            <button type="button" class="btn btn-primary">자세히 보기</button>
                        </a>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-dark closeEventBtn">Close</button>
                </div>
            </div>
        </div>
    </div>  <!--    modifyOfferModal-->

    <!--    axios 라이브러리 추가-->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/js/buyingCar.js"></script>
    <script src="/js/event.js"></script>
    <script src="/js/util.js"></script>

</div> <!--<div layout:fragment="content">-->

<script layout:fragment="script" th:inline="javascript">

   const eventModal = new bootstrap.Modal(document.querySelector(".eventModal"))
   const tempList = document.querySelector('.tempList')          // 구매 희망 목록 DOM
   const eventTitle = document.querySelector(".eventTitle")

   const currentUser = [[${#authentication.principal.username}]]
   const sellingCarId = 1
   // 페이지 번호 클릭
   let page = 1
   let size = 5

   const greeting = [[${session.greeting}]]
   console.log("session.greeting : " +  greeting)


    printMainView()

   const eventDTO = [[${eventDTO}]]
   if(eventDTO != null && eventDTO.notiId > 0){
       // get Event Data??
       eventTitle.value = eventDTO.title
       eventModal.show()
   }

    function printMainView(page,size){

        getList({currentUser, sellingCarId, page, size}).then(data=> {
            printList(data.dtoList) // 목록 처리

        }).catch(e=>{
            console.error(e)
        })
    }

    function printList(dtoList){
        let str = '';

        if(dtoList && dtoList.length > 0){
            for(const dto of dtoList){

                let proposalPrice = makePriceCurrency(dto.proposalPrice)
                let registerDate = stringToDateFormat(dto.registerDate)

                str += `<li class="list-group-item d-flex carItem">
                    <span class="col-1">${dto.userName}</span>
                    <span class="col-1">${maskingName(dto.userName)}</span>
                    <span class="col-2">${proposalPrice}</span>
                    <span class="col-2">${dto.carNumber}</span>
                    <span class="col-1">${dto.carModel}</span>
                    <span class="col-2">${dto.buyResult}</span>
                    <span class="col-4" data-rno="${dto.userName}">${registerDate}</span>
               </li>`
            }
        }

        tempList.innerHTML = str
    }


</script>