<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic.html}">

<head>
  <title>상품 정보</title>
</head>

<th:block layout:fragment="css">
  <style>
    .mgb-15{
      margin-bottom:15px;
    }
    .mgt-30{
      margin-top:30px;
    }
    .mgt-50{
      margin-top:50px;
    }
    .itemMainImgDiv{
      margin-right:15px;
      height:auto;
      width:50%;
    }
    .itemMainImg{
      width:100%;
      height:400px;
    }
    .wd50{
      height:auto;
      width:50%;
    }
  </style>
</th:block>

<div layout:fragment="content" style="margin-top:50px;margin-left:10%;margin-right:10%">

  <div class="d-flex">
    <div class="itemMainImgDiv">
      <img th:src="|/view/s_${responseDTO.getMainImage().uuid}_${responseDTO.getMainImage().fileName}|" class="rounded itemMainImg"
           th:alt="${responseDTO.itemName}">
    </div>
    <div class="wd50">
      <span style="background-color: #0a53be" class="badge badge-primary mgb-15"
            th:if="${responseDTO.getSellingStatus() == T(com.example.cih.domain.shop.ItemSellingStatus).STATUS_SELLING}">
        판매중
      </span>
      <span style="background-color: red"  class="badge badge-primary mgb-15"
            th:if="${responseDTO.getSellingStatus() == T(com.example.cih.domain.shop.ItemSellingStatus).STATUS_SOLDOUT}">
        품절
      </span>

      <div class="h4" th:text="${responseDTO.itemName}"></div>
      <hr class="my-4">

      <div class="text-right">
        <div class="h4 text-danger text-left">
          <input type="hidden" th:value="${responseDTO.originalPrice}" class="pOriginalPrice">
          <span th:text="${responseDTO.originalPrice}"></span>원
        </div>

        <div class="h4 text-danger text-left">
          <span th:text="|할인 금액 : |"></span>
          <input type="hidden" th:value="${responseDTO.discountPrice}" class="pDiscountPrice">
          <span th:text="${responseDTO.discountPrice}"></span>원
        </div>

        <div class="input-group w-50 mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">수량</span>
          </div>
          <input type="number" class="form-control pItemCount" value="1" min="1">
        </div>

        <div class="input-group mb-3" th:with="optionDTO = ${responseDTO.listOptionType.get(0)}">
          <div class="input-group-prepend">
            <span class="input-group-text">옵션1</span>
            <input type="hidden" th:value="${optionDTO.getOptionType()}" class="pItemOptionType1">
          </div>
          <select class= "form-control pItemOptionValue1" >
            <option th:each="i, stat: ${#strings.arraySplit(optionDTO.getOptionValue() ,',')}" th:selected="${stat.index == 1}"
                    th:value="${i.split('-')[0].trim()}">[[${i.split('-')[1].trim()}]]</option>
          </select>
        </div>

        <div class="input-group mb-3" th:if="${responseDTO.listOptionType.size() == 2}"
             th:with="optionDTO = ${responseDTO.listOptionType.get(1)}">
          <div class="input-group-prepend">
            <span class="input-group-text">옵션2</span>
            <input type="hidden" th:value="${optionDTO.getOptionType()}" class="pItemOptionType2">
          </div>
          <select class= "form-control pItemOptionValue2" >
            <option th:each="i, stat: ${#strings.arraySplit(optionDTO.getOptionValue() ,',')}" th:selected="${stat.index == 1}"
                    th:value="${i.split('-')[0].trim()}">[[${i.split('-')[1].trim()}]]</option>
          </select>
        </div>
      </div>

      <hr class="my-4">

      <div class="text-right mgt-50">
        <h5>결제 금액</h5>
        <h3 name="totalPrice" id="totalPrice" class="font-weight-bold"></h3>
      </div>

      <div class="my-4">
        <div class="float-end">
          <div class="input-group mb-3">
            <span class="input-group-text">상품 금액</span>
            <label>
              <input type="text" class="form-control pOrderPrice"  readonly>
            </label>
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text">배송비</span>
            <label>
              <input type="text" class="form-control pDeliveryFee" readonly>
            </label>
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text">상품 할인</span>
            <label>
              <input type="text" class="form-control pTotalDiscountPrice" readonly>
            </label>
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text">결제 예정 금액</span>
            <label>
              <input type="text" class="form-control pExpectedPrice" readonly>
            </label>
          </div>
        </div>
      </div>


      <div th:if="${responseDTO.getSellingStatus() == T(com.example.cih.domain.shop.ItemSellingStatus).STATUS_SELLING}"
           class="text-right">
        <button type="button" class="btn btn-primary addCartBtn">장바구니 담기</button>
        <button type="button" class="btn border-primary orderBtn">바로 주문</button>
      </div>
      <div th:unless="${responseDTO.getSellingStatus() == T(com.example.cih.domain.shop.ItemSellingStatus).STATUS_SELLING}"
           class="text-right">
        <button type="button" class="btn btn-danger btn-lg">품절</button>
      </div>
    </div>
  </div><!--  <div class="d-flex">-->

  <hr class="my-4">
  <hr class="my-4">
  <h4 class="display-5">상품 상세 설명</h4>
  <hr class="my-4">
  <p class="lead" th:text="${responseDTO.itemDesc}"></p>
  <hr class="my-4">
  <hr class="my-4">

  <div th:each="fileName : ${responseDTO.fileNames}" class="text-center">
    <img th:if="${not #strings.isEmpty(fileName.fileName)}"
            th:src="|/view/${fileName.uuid}_${fileName.fileName}|" class="rounded mgb-15" width="800">
  </div>



  <!--    axios 라이브러리 추가-->
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="/js/cart.js"></script>
  <script src="/js/order.js"></script>

</div> <!--<div layout:fragment="content">-->

<script layout:fragment="script" th:inline="javascript">

  const shopItemId = [[${responseDTO.shopItemId}]]
  const itemName = [[${responseDTO.itemName}]]
  const optionCount = [[${responseDTO.listOptionType.size()}]]

  const pItemCount = document.querySelector('.pItemCount')
  const pOriginalPrice = document.querySelector('.pOriginalPrice')
  const pDiscountPrice = document.querySelector('.pDiscountPrice')

  const pItemOptionType1 = document.querySelector('.pItemOptionType1');
  const pItemOptionValue1 = document.querySelector('.pItemOptionValue1');
  const pItemOptionType2 = document.querySelector('.pItemOptionType2');
  const pItemOptionValue2 = document.querySelector('.pItemOptionValue2');

  const pOrderPrice = document.querySelector(".pOrderPrice")
  const pExpectedPrice = document.querySelector(".pExpectedPrice")
  const pTotalDiscountPrice = document.querySelector(".pTotalDiscountPrice")
  const pDeliveryFee = document.querySelector(".pDeliveryFee")


  reCalculation()

  // 수량 변경
  document.querySelector(".pItemCount").addEventListener("change", function (e){
    reCalculation()
  }, false)

  function reCalculation(){

    const itemPrice = pOriginalPrice.value
    const discountPrice = pDiscountPrice.value
    const itemCount = pItemCount.value

    const totalOriginalPrice = itemPrice * itemCount
    const totalDiscountPrice = discountPrice * itemCount
    const totalPrice = (itemPrice - discountPrice) * itemCount

    // 배송비 계산
    const deliveryPrice = (totalPrice === 0 || totalPrice > 15000) ? 0 : 2500

    pOrderPrice.value = totalOriginalPrice
    pDeliveryFee.value = deliveryPrice
    pTotalDiscountPrice.value = totalDiscountPrice
    pExpectedPrice.value = totalPrice + deliveryPrice   // 결제 예정 금액
  }

  function checkItemSelect(){
    if( pItemCount.value === '0'){
      alert('수량을 선택 하세요!')
      return false
    }
    if(pItemOptionValue1.value === '0'){
      alert('옵션1을 선택 하세요!')
      return false
    }
    if( optionCount > 1 && pItemOptionValue2.value === '0' ){
      alert('옵션2을 선택 하세요!')
      return false
    }
    return true
  }

  // [장바구니 담기] 버튼 클릭
  document.querySelector(".addCartBtn").addEventListener("click", function(e){
    e.preventDefault()
    e.stopPropagation()

    // 상품 선택 했는지 체크
    if(checkItemSelect() === false){
      return
    }

    const itemOptionList = []
    itemOptionList.push({optionValue:pItemOptionValue1.value})

    if( optionCount > 1 && pItemOptionValue2.value.length > 0 ){
        itemOptionList.push({optionValue:pItemOptionValue2.value})
    }

    let formObj = {
      shopItemId: shopItemId,
      itemName: itemName,
      itemCount: pItemCount.value,
      itemPrice: pOriginalPrice.value,
      itemOptionList:itemOptionList,
    }

    ////////////////////////////////////////////////////
    addCartItem(formObj).then(result => {
      //console.log(result)
      alert("정상적으로 장바구니에 담겼습니다")

      // 장바구니 페이지 로 이동
      self.location = '/cart/list'

    }).catch(e => {
      console.log(e)
    })
  }, false)

  // 바로 주문하기
  document.querySelector(".orderBtn").addEventListener("click", function(e) {
    e.preventDefault()
    e.stopPropagation()

    // 상품 선택 했는지 체크
    if(checkItemSelect() === false){
      return
    }

    const itemOptionList = []
    itemOptionList.push({optionValue:pItemOptionValue1.value})

    if( optionCount > 1 && pItemOptionValue2.value.length > 0 ){
      itemOptionList.push({optionValue:pItemOptionValue2.value})
    }

    let formObj = {
      shopItemId: shopItemId,
      itemName: itemName,
      itemCount: pItemCount.value,
      itemPrice: pOriginalPrice.value,
      itemOptionList:itemOptionList,
    }

    ////////////////////////////////////////////////////
    addOrderTemporary(formObj).then(result => {
      //alert("정상적으로 장바구니에 담겼습니다")

      console.log('result.orderTemporaryId : ' + result.orderTemporaryId)

      // 주문서 페이지 로 이동
      self.location = '/order/orderPage/' + result.orderTemporaryId

    }).catch(e => {
      console.log(e)
    })

  }, false)

</script>