<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic.html}">

<head>
  <title>악세서리 샵</title>
</head>

<div layout:fragment="content">

  <form action="/cart/add" method="post">

    <div class="input-group mb-3">
      <span class="input-group-text">itemName</span>
      <input type="text" name="itemName" class="form-control" th:value="item1">
    </div>

    <div class="input-group mb-3">
      <span class="input-group-text">itemCount</span>
      <input type="text" name="itemCount" class="form-control" th:value="4">
    </div>

    <div class="input-group mb-3">
      <span class="input-group-text">itemOption</span>
      <input type="text" name="itemOption" class="form-control" th:value="1">
    </div>


    <div class="my-4">
      <div class="float-end">
        <button type="submit" class="btn btn-primary submitBtn">장바구니 넣기</button>
      </div>
    </div>


  </form>

</div> <!--<div layout:fragment="content">-->

<script layout:fragment="script" th:inline="javascript">

</script>